<ion-content>
  <div class="main terms-page">
    <div class="middle-section license-privacy">
      <p>
        Sensitech Inc. and its subsidiaries (collectively, “<strong>Sensitech</strong>”), are committed to protecting
        the privacy of users and visitors (as applicable) to its websites (collectively, “<strong>Websites</strong>”),
        and users of its mobile applications and web based programs and software, including the SensiWatch™ platform,
        including all applications (including mobile applications), websites, web-based software, and other software
        that you access now or in the future (collectively, “<strong>Apps</strong>”). It is important that our users
        understand how we collect, use and disclose Personal Information (as defined below).<br />
        This Privacy Notice describes our practices related to Personal Information collected through Sensitech websites
        and mobile applications, unless there is a separate privacy notice for a particular website or mobile
        application.
      </p>
      <p class="bold">
        What Personal Information does Sensitech collect? How does it collect such Information?
      </p>
      <p>
        “<strong>Personal Information</strong>” is information through which a natural person is identifiable or may be
        identified. Sensitech may collect, use and process your Personal Information in order to provide you with
        services, products or information that you request.
      </p>
      <p>
        The collection of information will be transparent to you, and you will have the opportunity to decide whether or
        not to provide it. If you choose not to provide any of the Personal Information requested, Sensitech may be
        unable to complete your transaction, or provide the information, services or products you have requested.
      </p>
      <p>
        Sensitech may collect information, including Personal Information, from you when you submit a form or request,
        or register a product with Sensitech, such as: name, physical address, the company for whom you work, phone
        number, email address and fax number. Sensitech may also ask you to provide information about the product you
        are registering or the person/company that installed or maintains it.
      </p>
      <p>
        Sensitech may also collect information through your use of our Websites or Apps, such as device identifiers, IP
        address, log files, and location data. Please see “How does Sensitech use cookies or other tracking
        technologies?” below for more information.
      </p>
      <p>
        We might need to collect other information for a specific form, feature, or other service that you may use or
        request. The content of such information will vary depending on the method of collection and the specific
        purpose(s) for which the information is being collected.
      </p>
      <p class="bold">
        Why does Sensitech collect your Personal Information?
      </p>
      <p>
        Our purpose in collecting this information is to provide customized services and content relevant to your
        specific needs and interests. Your information may be used by Sensitech to carry out our contractual
        obligations, authenticate you as a user and allow you access to certain areas of our Website, Apps or social
        media sites or allow you to apply for a position at Sensitech.
      </p>
      <p>
        Personal Information collected on a Website or App may be used to:
      </p>
      <ul>
        <li>Provide requested information, items, or services;</li>
        <li>Improve our products, services, surveys, Websites and Apps;</li>
        <li>Analyze your behavior on our Website and Apps;</li>
        <li>Obtain your location data in order to provide requested information or services;</li>
        <li>Protect against fraud or investigate suspected or actual illegal activity;</li>
        <li>Screen against sanctions and antiterrorism lists as required by law;</li>
        <li>Respond to a legitimate legal request from law enforcement authorities or other government regulators;</li>
        <li>
          Develop new offerings, improve the quality of our products, improve and personalize user experience, and
          better prepare future content based upon your interests and those of our general user population; or
        </li>
        <li>Conduct investigations to ensure compliance with, and comply with, legal obligations.</li>
      </ul>
      <p>
        Except where used in support of a contract with you or to fulfill a legal obligation, our use of your Personal
        Information will be only for legitimate business interests as set out above.
      </p>
      <p class="bold">
        Where is Personal Information stored?
      </p>
      <p>
        Because Sensitech, and its parent company, United Technologies Corporation (“UTC”), are global companies with
        locations in many different countries, we may transfer your information from one legal entity to another or from
        one country to another within the Sensitech and UTC group of companies in order to accomplish the purposes
        listed above. These countries include, at a minimum, the United States, the member states of the European Union,
        Canada, and other countries, including some in Asia. We will transfer your Personal Information consistent with
        applicable legal requirements and only to the extent necessary for the purposes set out above. Within the UTC
        and Sensitech group of companies, information is transferred subject to the
        <a href="http://www.utc.com/pages/privacy.aspx" target="_blank">Binding Corporate Rules</a> (found at
        <span>http://www.utc.com/pages/privacy.aspx</span>).
      </p>
      <p>
        Sensitech relies on available legal mechanisms to enable the legal transfer of personal information across
        borders. To the extent that Sensitech relies on the standard contractual clauses (also called the model clauses)
        or <a href="http://www.utc.com/pages/privacy.aspx" target="_blank">Binding Corporate Rules</a> (found at
        <span>http://www.utc.com/pages/privacy.aspx</span>) to authorize a transfer, Sensitech will comply with those
        requirements, including where there may be a conflict between those requirements and this Privacy Notice.
      </p>
      <p class="bold">
        Does Sensitech share the information it collects?
      </p>

      <p>
        Sensitech may share your Personal Information with our affiliated companies, such as companies in UTC’s group of
        companies, and/or companies in which Sensitech has control, through either direct or indirect ownership for the
        purposes set out above. Sensitech will not sell or otherwise transfer or share your Personal Information outside
        of the companies identified above, except to:
      </p>
      <ul>
        <li>
          Service providers, dealers, distributors, agents or contractors that Sensitech has retained to perform
          services on our behalf. Sensitech will only share your Personal Information with third parties whom Sensitech
          has contractually restricted from using or disclosing the information except as necessary to perform services
          on our behalf or to comply with legal requirements;
        </li>
        <li>
          Comply with legal obligations, such as in response to a legitimate legal request from law enforcement
          authorities, courts or other government regulators or authorities, among other things;
        </li>
        <li>Investigate suspected or actual illegal activity;</li>
        <li>Prevent physical harm or financial loss; or</li>
        <li>
          Support the sale or transfer of all or a portion of our business or assets (including through bankruptcy).
        </li>
      </ul>
      <p>
        Your personal information may also be maintained and processed by our service providers in the United States,
        the member states of the European Union, Canada, Asia, and in other jurisdictions.
      </p>
      <p class="bold">
        How does Sensitech secure Personal Information?
      </p>
      <p>
        Sensitech is committed to ensuring the security and integrity of Personal Information. Sensitech has adopted
        reasonable physical, electronic and managerial procedures to safeguard your Personal Information. However, due
        to the nature of Internet communications, we cannot guarantee or warrant that your transmission to us is secure.
      </p>
      <p class="bold">
        How can you correct, change or delete your information held by Sensitech?
      </p>
      <p>
        You may request to access, update, correct, change, or delete your Personal Information at any time. Sensitech
        will use reasonable efforts to timely update and/or remove information. To protect the user’s privacy and
        security, Sensitech will take steps to verify the user’s identity before making any requested change. To access,
        change, or delete your Personal Information, to report problems with the Website, to ask questions or to raise
        concerns, send an email to <a href="mailto:" target="_blank">privacy.compliance.ccs@utc.com</a>. Some of our
        Websites, Apps, and social media accounts allow you to make corrections directly at the site without need to
        further contact Sensitech.
      </p>
      <p>
        Please note that while we will assist you in protecting your Personal Information, it is your responsibility to
        protect your passwords and other access credentials from others.
      </p>
      <p class="bold">
        How does Sensitech use cookies or other tracking technologies?
      </p>
      <p>
        <strong>Cookies</strong><br />
        Sensitech may use cookies on this Website or App. Cookies are small text files sent to and stored on users’
        computers. We use cookies to allow the Website or App to recognize repeat users, facilitate users’ access to the
        Website or App, and allow the Website or App to compile aggregate data that will allow content improvements.
        Cookies do not damage users’ computers or files. If you do not want cookies to be accessible by this or any
        other Sensitech Website, you should adjust the settings on your browser program to deny or disable the use of
        cookies. However, denying or disabling cookies or similar technology may prevent you from accessing some of our
        content or using some of the features on the Website or App. Sensitech may also use cookies and similar
        technology placed by one of our business or advertising partners to enable Sensitech to learn which
        advertisements bring users to our Website or App.
      </p>
      <p>
        In addition, Sensitech monitors user traffic patterns throughout its Websites or Apps according to a user's
        domain name, browser type, date and time of access, and pages viewed. Our Web servers collect the domain names
        but not the email addresses of visitors. This information is collected in order to measure the number of
        visitors to our Website and to determine which areas of the Website or App users find useful based upon the
        amount of traffic to particular areas. Sensitech uses this information to enhance users’ experience at the
        Website or App and to better prepare future content based on the interests of users.
      </p>
      <p>
        <strong>Web Beacons</strong><br />
        This Website or App may also use web beacons. A web beacon is usually a pixel on a
        <a href="http://www.webopedia.com/TERM/W/Web_site.html" target="_blank">website</a> (found at
        <span>http://www.webopedia.com/TERM/W/Web_site.html</span>) that can be used to track whether a user has visited
        a particular website to deliver targeted advertising. Web beacons are used in combination with
        <a href="http://www.webopedia.com/TERM/C/cookie.html" target="_blank">cookies</a> (found at
        <span>http://www.webopedia.com/TERM/C/cookie.html</span>), which means that, if you turn off your browser's
        cookies, the web beacons will not be able to track your activity. The web beacon will still count as a website
        visit, but your unique information will not be recorded.
      </p>
      <p>
        Information collected by web beacons may include IP address information (see below). Web beacon information is
        also used for:
      </p>
      <ul>
        <li>Advertising and email auditing, and reporting;</li>
        <li>Personalization;</li>
        <li>Site traffic reporting; and</li>
        <li>Unique visitor counts.</li>
      </ul>
      <p>
        <strong>IP Addresses</strong><br />
        An Internet Protocol (IP) address is a number that is used by computers on the network to identify your computer
        every time you log on to the Internet.
      </p>
      <p>
        Sensitech may collect and keep track of IP addresses to, among other things:
      </p>
      <ul>
        <li>Maintain Website or App safety and security;</li>
        <li>Restrict access to our Websites or Apps to certain users;</li>
        <li>Troubleshoot technical issues; and</li>
        <li>Better understand how Sensitech Websites or Apps are used.</li>
      </ul>
      <p>
        <strong>Log Files</strong><br />
        Sensitech (or third parties on behalf of Sensitech) may collect information in the form of log files that are
        recording Website activities and statistics about web users' habits.
      </p>
      <p>
        Log files are used for internal purposes only. By using log files, Sensitech can constantly improve and
        customize their Websites, Apps and applications.
      </p>
      <p>
        The entries help us gather, among other things:
      </p>
      <ul>
        <li>Internal marketing and demographic studies;</li>
        <li>A user’s browser type and operating system;</li>
        <li>
          Information about a user’s session (such as the URL, the date and time our Website was visited and which pages
          and for how long were viewed on our Website); and
        </li>
        <li>Other similar navigational or click-stream data.</li>
      </ul>
      <p class="bold">
        How long do we keep your Personal Information?
      </p>
      <p>
        The Personal Information you provide to Sensitech is only kept for as long as it is reasonably necessary for the
        purposes for which it was collected, taking into account our need to comply with contractual obligations,
        resolve customer service issues, comply with legal requirements and provide new or improved services to users.
        This means that we may retain your Personal Information for a reasonable period after you stopped using the
        Sensitech Website or App. After this period, your Personal Information will be deleted from all systems of
        Sensitech without notice.
      </p>
      <p class="bold">
        What additional information should specific users know?
      </p>
      <p>
        <strong>Parents, Guardians, and Children</strong>: Our Apps and Websites are intended for visitors who are at
        least 18 years of age, or the age of majority in their jurisdiction of residence. Sensitech does not knowingly
        solicit information from, or market products or services to, children. If you do not meet the age requirements
        set out above, please do not enter your Personal Information on this or any other Sensitech Website or App.
      </p>
      <p>
        <strong>Users from California</strong>: Annually California residents may request and obtain information that
        Sensitech shared with other businesses for their own direct marketing use within the prior calendar year (as
        defined by California’s “Shine the Light Law”). If applicable, this information would include a list of the
        categories of Personal Information that was shared and the names and addresses of all third parties with which
        Sensitech shared this information in the immediately preceding calendar year. To obtain this information, please
        send an email message to <a href="mailto:" target="_blank">privacy.compliance.ccs@utc.com</a> with “California
        Shine the Light Privacy Request” in the subject line as well as in the body of your message.
      </p>
      <p>
        <strong>Users from the EU</strong>: You have the right to lodge a complaint with your national or state data
        protection authority, which may also be known as a supervisory authority. You also have the right to: (i)
        request access to and correction or erasure of your Personal Information; (ii) seek restrictions on; or (iii)
        object to the processing of certain Personal Information, and seek data portability under certain circumstances.
        To contact Sensitech about a request to access, correct, erase, object or seek restrictions or portability,
        please use the contact methods indicated at the end of this notice.
      </p>
      <p class="bold">
        How might Sensitech change this Privacy Notice?
      </p>
      <p>
        As Sensitech expands and improves its Websites, and its Apps, we may need to update this Privacy Notice. This
        Privacy Notice may be modified from time to time without prior notice. We encourage you to review this Privacy
        Notice on a regular basis for any changes. Substantive changes will be identified at the top of the Privacy
        Notice.
      </p>
      <p class="bold">
        How can you contact Sensitech?
      </p>
      <p>
        If you have any comments or questions about this Privacy Notice or to obtain information on the manner in which
        we or our service providers treat your personal information, or if there are other things we can do to maximize
        the value of this Website or App to you, please email
        <a href="mailto:" target="_blank">webmaster.ccs@utc.com</a>. If you have questions about Sensitech’s privacy
        practices in general, please email <a href="mailto:" target="_blank">privacy.compliance.ccs@utc.com.</a>
      </p>
      <p>
        In the event that you are located in a country that will be governed by the General Data Protection Regulation
        and would like to contact the local Data Protection Officer, please note that in your email and your inquiry
        will be directed to the appropriate person. If you wish to opt-out from sharing your Personal Information with
        us or have your Personal Information be removed, please email
        <a href="mailto:" target="_blank">privacy.compliance.ccs@utc.com</a>.
      </p>
      <p>
        Last updated on May 22, 2019.
      </p>
    </div>
  </div>
</ion-content>
