<ion-content>
  <div class="main">
    <div class="overview">
      <div>
        <!-- Operation status -->
        <p *ngIf="data?.status == 2" class="operation-status status-{{ data?.status }}">Critical</p>
        <p *ngIf="data?.status == 1" class="operation-status status-{{ data?.status }}">Warning</p>
        <p *ngIf="data?.status == 0" class="operation-status status-{{ data?.status }}">Normal</p>

        <!-- Detail type -->
        <p *ngIf="overallTask?.alertType == 'zone'" class="type">Temperature Excursion</p>
        <p *ngIf="overallTask?.alertType == 'monitor'" class="type">Device Issue</p>
      </div>
      <div>
        <!-- Zone label -->
        <p class="zone-label" dynacontent>{{ overallTask?.ref.name }}</p>

        <!-- Last updated -->
        <p class="updated" dynacontent>{{ data?.ago | amTimeAgo }}</p>
      </div>
    </div>

    <hr />

    <div class="description">
      <p>
        {{ data?.descLong || 'No description' }}
      </p>
    </div>
    <div class="detail range">
      <span>Recommended Range</span>
      <span>
        <span>{{ overallTask?.ref.minWarningTemperature }}</span
        >&deg; to <span>{{ overallTask?.ref.maxWarningTemperature }}</span
        >&deg;
      </span>
    </div>

    <div *ngFor="let monitor of zoneMonitors" class="detail operation-status status-{{ monitor.severity }}">
      <span>{{ monitor?.label }}</span>
      <span>
        <span dynacontent>{{ monitor?.values.temp }}</span
        >&deg;
        <ion-icon *ngIf="monitor?.trending == 'up'" name="arrow-round-up"></ion-icon>
        <ion-icon *ngIf="monitor?.trending == 'down'" name="arrow-round-down"></ion-icon>
      </span>
    </div>

    <div>
      <!-- Chart data -->
      <div class="accordion" [ngClass]="{ open: graphOpen }">
        <span (click)="toggleGraph($event)">Graph</span>
        <div>
          <stm-graph [datasets]="dataSets"></stm-graph>
        </div>
      </div>

      <!-- Recent activity -->
      <div class="accordion" [ngClass]="{ open: historyOpen }">
        <span (click)="toggleHistory($event)">Recent Activity</span>
        <div>
          <stm-app-historyblock [history]="overallTask?.history"></stm-app-historyblock>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <!-- Enter corrective action -->
      <button *ngIf="data" class="full-width" routerLink="/tasks/corrective-action/{{ data?.id }}">
        Enter Corrective Action
      </button>
    </div>
  </div>
</ion-footer>
