@import '~assets/scss/variables.scss';

.row {
  align-content: flex-end;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  & p {
    line-height: 30px;
    margin: 0;
  }

  & h2 {
    margin: 0;
  }
}

.critical {
  color: $red;
}

.warning {
  color: $orange;
}

hr {
  border-bottom: 1px solid $surface-03;
  margin: 0 24px;
}

.overview {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  > div {
    &:last-child {
      margin-left: auto;
      text-align: right;
    }
  }
  .operation-status {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
    &:before {
      content: '';
      display: inline-block;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
    &.status-2,
    &.status-critical {
      color: $red;
      &:before {
        background: $red;
      }
    }
    &.status-1,
    &.status-warning {
      color: $orange;
      &:before {
        background: $orange;
      }
    }
    &.status-0,
    &.status-normal {
      color: $green;
      &:before {
        background: $green;
      }
    }
  }
  .zone-label {
    font-size: 16px;

    margin-bottom: 4px;
  }

  .type,
  .updated {
    font-size: 14px;
    color: $grey-primary;
  }
}

.description {
  padding: 32px 0 24px;
}

.detail {
  display: flex;
  padding: 8px 0;
  &.range {
    > span:first-child {
      &:before {
        content: url('/assets/images/temp-range-icon.svg');
        margin-right: 8px;
      }
    }
  }
  > span {
    &:last-child {
      margin-left: auto;
    }
  }
  &.operation-status {
    > span:first-child {
      &:before {
        content: '';
        display: inline-block;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        margin-right: 10px;
      }
    }
    &.status-2,
    &.status-critical {
      > span:first-child {
        &:before {
          background: $red;
        }
      }
    }
    &.status-1,
    &.status-warning {
      > span:first-child {
        &:before {
          background: $orange;
        }
      }
    }
    &.status-0,
    &.status-normal {
      > span:first-child {
        &:before {
          background: $green;
        }
      }
    }
  }
}

.accordion {
  > span {
    display: block;
    position: relative;
    padding: 16px 0;
    border-bottom: 1px solid $surface-03;
    margin-top: 24px;
    color: $grey-primary;
    font-size: 14px;
    &:after {
      content: '';
      background-image: url('/assets/images/arrow-forward.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 16px auto;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 16px;
      transform: rotate(90deg);
      transition: transform 200ms ease;
    }
  }
  > div {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease;
  }
  &.open {
    > span:after {
      transform: rotate(-90deg);
    }
    > div {
      height: auto;
    }
  }
}
