<ion-content class="bg-blue-light">
  <div class="main">
    <div class="top-section bg-blue-light text-left">
      <h3>Monitor Setup</h3>
    </div>

    <div class=" bg-blue-light">
      <ion-slides #slider pager="true" [options]="sliderOptions" (ionSlideDidChange)="this.slideChanged()">
        <ion-slide>
          <img src="/assets/images/monitor-setup-1.png" />
          <p>
            Monitors are temperature sensors that you need to place in specific zones.
          </p>
        </ion-slide>
        <ion-slide>
          <img src="/assets/images/monitor-setup-1.png" />
          <p>
            The best places to put monitors are specific to each zone types such as Freezer, Cooler, Dine Line and so
            on.
          </p>
        </ion-slide>
        <ion-slide>
          <img src="/assets/images/monitor-setup-1.png" />
          <p>
            Turn on your monitors before you start pairing your monitors in the dedicated zones.
          </p>
        </ion-slide>
        <ion-slide>
          <img src="/assets/images/monitor-setup-1.png" />
          <p>
            Make sure all monitors have good connection status when you are placing them.
          </p>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="bottom-section bg-blue-light">
    <button *ngIf="!this.isLastSlide" class="full-width centered bg-blue-light" (click)="this.slider.slideNext()">
      Continue
    </button>
    <button *ngIf="this.isLastSlide" class="full-width centered bg-blue-light" (click)="goToZoneSetup()">
      Begin Zone Setup
    </button>
  </div>
</ion-footer>
