<ion-content>
  <div class="main corrective-action">
    <div class="row">
      <ion-input
        type="text"
        class="full-width"
        required="required"
        placeholder="First name"
        [(ngModel)]="profile.firstName"
        maxlength="300"
      ></ion-input>
    </div>
    <div class="row">
      <ion-input
        type="text"
        class="full-width"
        required="required"
        placeholder="Last name"
        [(ngModel)]="profile.lastName"
        maxlength="300"
      ></ion-input>
    </div>
    <div class="row">
      <ion-input
        type="phone"
        class="full-width"
        placeholder="Phone number"
        [(ngModel)]="profile.phoneNumber"
        maxlength="15"
      ></ion-input>
    </div>
    <div class="row">
      <ion-input
        type="email"
        class="full-width"
        placeholder="name@domain.com"
        [(ngModel)]="profile.email"
        disabled
      ></ion-input>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width centered text" [disabled]="formDisabled()" (click)="submitForm()">
        Update Password
      </button>
    </div>
  </div>
</ion-footer>
