@import '~assets/scss/variables.scss';

$size: 28px;

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader {
  animation: 1.2s load linear infinite;
  border: 3px solid $blue-dark;
  border-bottom-color: transparent;
  border-radius: 50%;
  width: $size;
  height: $size;
  margin-left: -14px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}
