$blue: #0094d0;
$blue-dark: #005596;
$green: #6a9913;
$red: #a50c18;
$orange: #f26400;
$black: #000000;
$white: #ffffff;
$white-01: #bfe4f3;
$white-02: #7eacc9;
$grey-primary: #2c3e50;
$grey-secondary: #808b96;
$grey-disabled-dark: #5f646d;
$grey-disabled-light: #6f7480;
$surface-01: #f9f9f9;
$surface-02: #f4f5f6;
$surface-03: #e0e2e5;
