$letter-spacing-0: 0;
$letter-spacing-15: 0.15px;
$letter-spacing-25: 0.25px;

@mixin font-light {
  font-weight: 300;
}
@mixin font-reg {
  font-weight: 400;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin button {
  @include font-reg;
  font-size: 14px;
  letter-spacing: 1.25px;
  &.activated {
    background: none;
  }
}

@mixin subtitle-1 {
  @include font-light;
  font-size: 16px;
  letter-spacing: $letter-spacing-15;
}

@mixin subtitle-2 {
  @include font-light;
  font-size: 14px;
  letter-spacing: 0.1px;
}

@mixin body-1 {
  @include font-reg;
  font-size: 16px;
  letter-spacing: 0.5px;
}

@mixin body-2 {
  @include font-reg;
  font-size: 14px;
  letter-spacing: $letter-spacing-25;
}

@mixin caption {
  @include font-light;
  font-size: 12px;
  letter-spacing: 0.4px;
}

@mixin overline {
  @include font-reg;
  font-size: 10px;
  letter-spacing: 1.5px;
}

@mixin h1 {
  @include font-light;
  font-size: 96px;
  letter-spacing: -1.5px;
}

@mixin h2 {
  @include font-light;
  font-size: 60px;
  letter-spacing: -0.5px;
}

@mixin h3 {
  @include font-light;
  font-size: 48px;
  letter-spacing: $letter-spacing-0;
}

@mixin h4 {
  @include font-light;
  font-size: 34px;
  letter-spacing: $letter-spacing-25;
}

@mixin h5 {
  @include font-light;
  font-size: 24px;
  letter-spacing: $letter-spacing-0;
}

@mixin h6 {
  @include font-light;
  font-size: 20px;
  letter-spacing: $letter-spacing-15;
}
