@import '~assets/scss/variables.scss';

:host {
}
h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  .bg-blue-light &,
  .bg-blue-dark & {
    color: $white;
  }
}
h5 {
  text-align: left;
  font-size: 14px;
  color: $grey-secondary;
  border-bottom: 1px solid $surface-03;
  padding: 0 0 16px 0;
}

p {
  padding: 32px 0;
}
.top-section {
  height: 50px;
  margin: 0 0 32px;
  position: relative;
  h3 {
    position: absolute;
    bottom: 0;
    margin: 0;
    small {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
    }
  }
}

.bottom-section {
  padding: 16px 24px;
}

ion-list {
  background: none;
  --background: none;
  padding-bottom: 32px;
  ion-item {
    background: none;
    --background: none;
    --inner-padding-end: 16px;
    padding: 8px 0 0;
    --padding-start: 16px;
    display: flex;
    border-color: $blue;
    --border-color: #{$blue};
    &:first-child {
      color: $white;
      font-size: 14px;
      --padding-start: 0;
      span {
        color: $blue;
      }
    }
    &:last-child {
      --border-width: 0px !important;
      --inner-border-width: 0 0 1px 0 !important;
    }
    span:last-child {
      margin-left: auto;
      color: $blue;
    }
    > span {
      padding: 8px 0;
      > span {
        display: block;
        color: $grey-secondary;
        padding-top: 8px;
        font-size: 14px;
      }
    }
  }
}

ion-footer {
  &:before {
    display: none;
  }
}

ion-slides {
  ion-slide {
    display: block;
  }
}
