<ion-content class="bg-blue-light" no-bounce>
  <div class="main">
    <div class="top-section bg-blue-light">
      <h3>Have you received your installation kit yet?</h3>
    </div>

    <img src="/assets/images/installation-kit.png" />
    <p class="centered">
      If you haven't received your installation kit, you can stop here. Please wait until you receive your package
      before proceeding.
    </p>
  </div>
</ion-content>

<ion-footer>
  <div class="bottom-section bg-blue-light">
    <button (click)="next()" class="full-width centered">Yes, I have my installation kit</button>
  </div>
</ion-footer>
