<div class="visibility-input">
  <input
    [id]="id"
    [name]="name"
    (ngModelChange)="onChangeCallback($event)"
    [ngModel]="innerValue"
    [type]="type"
    [placeholder]="placeholder"
    [class]="class"
    (input)="writeValue()"
    #input
  />
  <button type="button" (click)="changeView()" tabindex="-1">
    <ion-icon id="visible" name="eye"></ion-icon>
  </button>
</div>
