@import '~assets/scss/variables.scss';

:host {
  div {
    display: flex;
    width: 100%;
    position: relative;
  }

  input {
    flex-grow: 1;
    padding-right: 32px;
    & + button {
      display: none;
    }
  }

  input:focus {
    & + button {
      display: block;
    }
  }

  button {
    background: none;
    color: $grey-secondary;
    height: 56px;
    position: absolute;
    right: 0;
    &:active,
    &:focus {
      display: block !important;
    }
  }

  ion-icon {
    font-size: 16px;
  }
}
