.line,
.wrapper,
.data {
  display: flex;
}

.header {
  border-bottom: 1px solid rgba(44,62,80,0.1);
  color: rgba(0,0,0, 0.3);
  font-size: 14px;
  height: 33px;
  padding: 5px 0;
}

svg {
  overflow: visible;
  position: absolute;
}

.wrapper {
  flex-wrap: wrap;
}

.item {
  display: flex;
  overflow: visible;
  padding: 0 0 0 15px;
  position: relative;
  width: 100%;
}

.start {
  display: inline-block;
  height: 100%;
}

.data {
  border-bottom: 1px solid rgba(44,62,80,0.1);
  display: inline-block;
  margin: 0 0 0 10%;
  padding: 10px 25px 10px 0;
  width: 100%;
  p {
    white-space: pre-line;
  }
}

.itemDetail {
  color: rgba(44,62,80,0.6);
  font-size: 12px;
  padding: 0;
}
