<div *ngIf="history?.length > 0" class="parent">
  <div class="wrapper">
    <div class="item" *ngFor="let entry of history; let first = first; let last = last;">

      <div class="start" *ngIf="!last">
        <svg height="calc(100% + 18px)" width="12">
          <circle cx="4.5" cy="22" r="4" stroke="#0094D0" stroke-width="1" fill="#fff" />
          <line x1='4.5' y1='26' x2='4.5' y2='100%' style="stroke:rgba(44,62,80,0.38);;stroke-width:1" viewBox="0 0 10 100" />
        </svg>
      </div>
      <div class="start" *ngIf="last">
          <svg height="130%" width="12">
              <circle cx="4.5" cy="22" r="4" stroke="#0094D0" stroke-width="1" fill="#fff" />
          </svg>
        </div>

      <div class="data">
        <p dynacontent>{{entry.action}}</p>
        <p class="itemDetail" dynacontent>{{entry.time | amTimeAgo}}</p>
      </div>
    </div>
  </div>
</div>
