@import '~assets/scss/variables.scss';

.about {
  @include body-2;
  text-align: center;
  margin-top: 16px;

  &--copy {
    line-height: 1.5;
    margin-bottom: 32px;
  }

  &--items {
    p {
      margin-bottom: 16px;
    }
  }
}
