<ion-content>
  <div class="main">
    <div class="menu-page about">
      <p class="about--copy">
        SensiWatch&trade; Site is an IoT solution that digitally captures temperatures throughout your restaurant to
        automate compliance checks and provide you visibility whether you are on site or away from the restaurant.
      </p>

      <div class="about--items">
        <p>Version {{ appVersion }}</p>
        <p><a routerLink="/terms/license">License Agreement</a></p>
        <p><a routerLink="/terms/privacy">Privacy Notice</a></p>
      </div>
    </div>
  </div>
</ion-content>
