<ion-content class="bg-blue-light" no-bounce>
  <div class="main">
    <div class="top-section bg-blue-light">
      <h3>
        <small>{{ currentZone?.name }}</small>
        Place Monitor
      </h3>
    </div>

    <img src="/assets/images/monitor-place.png" />
    <p class="centered">
      Turn on Monitor and verify LED status for connectivity.
    </p>
    <p class="centered">
      Place Monitor in the corner of the Zone. If the Zone has 2 or more Monitors place them at opposite corners.
    </p>
  </div>
</ion-content>

<ion-footer class="bg-blue-light">
  <div class="bottom-section">
    <button (click)="placeMonitor()" class="text full-width centered bg-blue-light">I've placed Monitor</button>
  </div>
</ion-footer>
