<ion-content class="bg-blue-light" no-bounce>
  <div class="main bg-blue-light">
    <div class="top-section text-left">
      <h3>Confirm Devices</h3>
    </div>

    <div class=" text-left">
      <p>
        Confirm that your installation kit has all the devices you need.
      </p>

      <ion-list>
        <ion-item>
          Devices
          <span>Qty</span>
        </ion-item>
        <ion-item>
          Gateways
          <span dynacontent>{{ idealGateways }}</span>
        </ion-item>
        <ion-item>
          Monitors
          <span dynacontent>{{ idealMonitors }}</span>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer class="bg-blue-light">
  <div class="bottom-section">
    <button class="full-width centered bg-blue-light">Contact Customer Support</button>
    <button class="full-width centered bg-blue-dark" (click)="next()">Confirm</button>
  </div>
</ion-footer>
