$checkmark-width: 66px;
$checkmark-height: $checkmark-width * 0.70491803278;

.checkmark {
  width: $checkmark-width;
  height: $checkmark-height;
  background-color: transparent;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 162px;
  margin-bottom: 28px;
  background: transparent url('/assets/images/checkmark.svg') no-repeat center center;
  background-size: 100% 100%;
}

.message {
  color: #2C3E50;
  font-size: 23px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 28px;
  width: auto;
  max-width: 60%;
}

.reason {
  color: #2C3E50;
  font-size: 13.96px;
  letter-spacing: 0.25px;
  line-height: 23px;
  text-align: center;
  margin: 0 auto;
  width: auto;
}

button {
  &:first-child {
    color: #4592ca;
    background-color: transparent;
  }
}
