<ion-content>
  <div class="main success-screen">
    <div class="row">
      <div class="checkmark"></div>
      <p class="message">Your action has been submitted!</p>
      <p class="reason">“{{ 'Moved monitor to another location' }}”</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width centered bg-blue-light">Next Open Task</button>
      <button class="full-width" routerLink="/tasks">Done</button>
    </div>
  </div>
</ion-footer>
