<nav
  [ngClass]="{ 'menu-visible': isMenuVisible() }"
  class="navbar navbar-fixed-top navbar-dark bg-inverse {{ navbarClass }}"
>
  <header>
    <span class="nav-icon">
      <a *ngIf="!navbarLeftButton && !navbarHideMenu" class="icon menu" (click)="showMenu()"></a>
      <a *ngIf="navbarLeftButton && navbarLeftButton.back" (click)="back()" class="icon back"></a>
      <a
        *ngIf="navbarLeftButton && !navbarLeftButton.back"
        class="icon"
        [routerLink]="navbarLeftButton.path"
        [ngClass]="navbarLeftButton.class"
      ></a>
    </span>
    <img *ngIf="showLogo" src="../assets/images/sensiwatch-site-logo.png" class="sensiwatch-logo" />
    <h2 *ngIf="!showLogo" class="page-title">{{ pageTitle }}</h2>
    <span class="nav-icon">
      <a
        *ngIf="navbarRightButton"
        class="icon"
        [routerLink]="navbarRightButton.path + (this.itemId ? '/' + this.itemId : '')"
        [ngClass]="navbarRightButton.class"
      ></a>
    </span>
  </header>
</nav>

<div class="menu-slider" [ngClass]="{ visible: menuVisible }" (tap)="onTap($event)" (swipeleft)="onSwipeLeft($event)">
  <h6>{{ firstName }} {{ lastName }}</h6>
  <p><span (click)="logout()" routerDirection="root" closemenu>Log Out</span></p>
  <ul>
    <li><a id="qa-home" routerLink="/dashboard" routerDirection="forward" closemenu>Home</a></li>
    <li><a id="qa-reporting" href="{{ reportingLink }}" target="_blank" closemenu>Reporting</a></li>
    <li><a id="qa-settings" routerLink="/settings" closemenu>Settings</a></li>
    <li><a id="qa-help" routerLink="/help" closemenu>Help</a></li>
    <li><a id="qa-about" routerLink="/about" closemenu>About</a></li>
  </ul>

  <span routerLink="/home" class="version" closemenu>
    v{{ appVersion }}
    <span *ngIf="!isProd" closemenu>{{ envTarget.toUpperCase() }}</span>
  </span>
</div>

<div class="backdrop" closemenu></div>
