@import '~assets/scss/variables.scss';

nav {
  padding: 48px 24px 29px;
  background-color: $surface-01;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  transition: background 300ms ease;
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 24px;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  // to keep nav content aligned correctly without the presense of a right icon
  .nav-icon {
    min-width: 24px;
  }

  .sensiwatch-logo {
    width: 115px;
    height: 12px;
    align-self: center;
  }

  .page-title {
    @include body-1;
    color: $grey-primary;
  }

  &.eula-page {
    .page-title {
      @include h6;
    }
  }

  ul {
    position: absolute;
  }

  a {
    cursor: pointer;
    color: $grey-secondary;
    text-decoration: none;
    position: relative;
    padding: 12px;
    &:after {
      content: '';
      font-size: 36px;
      position: absolute;
      top: -3px;
    }
    &.back {
      &:after {
        width: 12px;
        height: 12px;
        left: 0;
        border-left: 2px solid #0094d0;
        border-bottom: 2px solid #0094d0;
        transform: rotate(45deg);
        transform-origin: bottom left;
        display: none;
      }
    }

    &.skip {
      &:after {
        width: 12px;
        height: 12px;
        right: 0;
        border-right: 2px solid #0094d0;
        border-bottom: 2px solid #0094d0;
        transform: rotate(-45deg);
        transform-origin: bottom right;
      }
    }
    &.icon {
      display: block;
      padding: 0;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      background-size: 100% 100% !important;
      width: 24px;
      height: 24px;
      &.menu {
        background-image: url('/assets/images/menu.svg');
        margin-left: 0;
      }
      &.tasks {
        background-image: url('/assets/images/tasks.svg');
      }
      &.config {
        background-image: url('/assets/images/configure.svg');
      }
      &.dashboard {
        background-image: url('/assets/images/dashboard.svg');
      }
      &.back {
        background-image: url('/assets/images/arrow-back.svg');
        width: 18px;
      }
      &.skip {
        background-image: url('/assets/images/arrow-skip.svg');
      }
    }
  }

  &.bg-blue-light {
    background: $blue;
    a {
      color: $white;
      --color: #{$white};
      &:after {
        border-color: $white !important;
      }

      &.back {
        background-image: url('/assets/images/arrow-back-white.svg');
      }
      &.skip {
        background-image: url('/assets/images/arrow-skip-white.svg');
      }
    }
  }
}

.menu-slider {
  position: fixed;
  z-index: 100;
  background: $blue;
  width: calc(100vw - 128px);
  padding: 60px 16px 16px;
  height: 100vh;
  top: 0;
  right: 100vw;
  transition: right 200ms ease;
  color: $white;
  overflow: hidden;
  &.visible {
    right: 128px;
    + .backdrop {
      opacity: 0.3;
      pointer-events: all;
    }
  }
  h6 {
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    padding-left: 4px;
    line-height: 26px;
  }
  p {
    position: relative;
    padding-bottom: 16px;
    padding-left: 4px;
    margin: 0;
    color: $white-01;
    &:after {
      content: '';
      display: block;
      width: calc(100% + 32px);
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -16px;
      border-bottom: 1px solid #bfe4f3;
    }
  }

  p,
  li {
    @include body-2;
  }
  ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    li {
      a {
        display: inline-block;
        padding: 16px 16px 16px 20px;
        color: $white;
        text-decoration: none;
        font-size: 16px;
      }
    }
    &.sub {
      margin-top: 56px;
    }
  }
}

.backdrop {
  clear: both;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  opacity: 0;
  background: $black;
  transition: opacity 200ms ease;
  pointer-events: none;
}

.version {
  color: $white;
  position: absolute;
  bottom: 0;
  left: 16px;
  padding: 16px;
  font-size: 12px;
}
