<svg
  *ngIf="status !== 'InstallationRequired'"
  expanded="true"
  class="concentric-circle"
  [ngClass]="zoneDetail ? [status, zoneDetail] : [status]"
>
  <circle cx="50%" cy="50%" r="50%" opacity="0.3" />
  <ng-template ngFor [ngForOf]="array" let-i="index">
    <circle cx="50%" cy="50%" r="0%" opacity="0">
      <animate
        attributeType="SVG"
        attributeName="r"
        [attr.dur]="duration"
        [attr.begin]="begins[i]"
        from="0%"
        to="50%"
        repeatCount="indefinite"
      />
      <animate
        attributeType="CSS"
        attributeName="opacity"
        [attr.dur]="duration"
        [attr.begin]="begins[i]"
        from="1"
        to="0"
        repeatCount="indefinite"
      />
    </circle>
  </ng-template>
</svg>

<img src="/assets/images/setup.svg" *ngIf="status === 'InstallationRequired'" [ngClass]="status" />
