@import '~assets/scss/variables.scss';

:host {
  svg {
    width: 33px;
    height: 33px;

    &.zoneDetailCircle {
      width: 22px;
      height: 22px;
      vertical-align: text-bottom;
    }
  }

  .concentric-circle {
    circle {
      fill: transparent;
      stroke: none;
      width: 22px;
      height: 22px;
    }

    &.Normal circle {
      fill: $green;
    }

    &.Warning circle {
      fill: $orange;
    }

    &.Critical circle {
      fill: $red;
    }

    &.Inactive circle {
      fill: $grey-secondary;
    }

    &.WaitingForData circle {
      fill: $blue;
    }
  }
}
