<ion-content class="bg-blue-light" no-bounce>
  <div class="main bg-blue-light">
    <div class="top-section text-left">
      <h3>
        <small>Let's Get Started!</small>
        Scan Gateway
      </h3>
    </div>

    <img src="/assets/images/scan-gateway.png" />
    <p class="centered">
      Lorem Ipsum velit justo, ornare et magna consectetur, pharetra pharetra felis. Nam ac tristique lacus. Suspendisse
      luctus vitae lorem a venenatis.
    </p>
  </div>
</ion-content>

<ion-footer class="bg-blue-light">
  <div class="bottom-section">
    <button class="full-width centered bg-blue-light" (click)="continue()">Continue</button>
  </div>
</ion-footer>
