@import '~assets/scss/variables.scss';

.top-section {
  margin: 0 15%;
  > div {
    display: inline-block;
    position: relative;
    top: -12vh;
    img {
    }
    .version {
      font-size: 10px;
      position: absolute;
      top: 100%;
      right: 0;
      color: $grey-secondary;
    }
  }
}

label.small {
  color: $surface-03;
}

span.error {
  position: absolute;
  bottom: 24px;
  left: 24px;
  width: calc(100% - 48px);
  text-align: center;
  color: $red;
  padding: 6px 12px;
  &.shake {
    animation: shake 820ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}
