<ion-content>
  <div class="main v-centered">
    <div class="top-section centered">
      <div>
        <img class="logo" src="/assets/images/sensiwatch-site-logo.png" />
        <span *ngIf="!isProd" class="version"> v{{ appVersion }} {{ envTarget.toUpperCase() }} </span>
      </div>
    </div>

    <form class="form" #loginForm="ngForm">
      <div class="spacing">
        <input
          id="email"
          name="email"
          class="full-width"
          [ngClass]="{ error: authenticationError }"
          [(ngModel)]="email"
          placeholder="Username"
          type="email"
          required
        />
      </div>
      <div class="spacing">
        <stm-visibility-input
          id="password"
          name="password"
          class="{{ 'full-width' + (authenticationError ? ' error' : '') }}"
          [(ngModel)]="password"
          [password]="password"
          placeholder="Password"
        >
        </stm-visibility-input>
        <span class="small" *ngIf="!emailSent">
          <a class="text" (click)="forgotPass()">Forgot password</a>
        </span>
        <span
          class="small error"
          *ngIf="authenticationError"
          [ngClass]="{ shake: authenticationError }"
          [innerHTML]="errorMsg"
        >
        </span>
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width centered bg-blue-light" (click)="submit()" [disabled]="!email || !password || loading">
        {{ loading ? 'Logging In...' : 'Log In' }}
      </button>
    </div>
  </div>
</ion-footer>
