@import '~assets/scss/variables.scss';

.row {
  display: flex;
  flex-direction: row;
}

ion-icon {
  margin: 0 6px 8px 0;

  &.green {
    color: $white;
    background-color: $green;
    border-radius: 100%;
  }
}

p {
  padding: 0;
}

.main {
  padding-top: 128px;
}

span.small {
  span {
    display: flex;
    flex-direction: row;
    &:first-child {
      margin-bottom: 8px;
    }
  }
}

span.error {
  color: $red;
  &.shake {
    animation: shake 820ms cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}
