<ion-content>
  <div class="main">
    <div class="middle-section">
      <form class="form" #createForm="ngForm">
        <div class="small-spacing">
          <stm-visibility-input
            id="currPass"
            name="currPass"
            class="{{ 'full-width' + (oldPasswordWrongError ? ' error' : '') }}"
            [(ngModel)]="currPass"
            placeholder="Current Password"
          ></stm-visibility-input>
          <span class="small error" *ngIf="oldPasswordWrongError" [ngClass]="{ shake: oldPasswordWrongError }">
            Invalid current password
          </span>
        </div>
        <div class="small-spacing">
          <stm-visibility-input
            id="newPass"
            name="newPass"
            class="full-width"
            [(ngModel)]="newPass"
            (input)="passwordCheck()"
            placeholder="New Password"
            (focus)="passwordCheck()"
          ></stm-visibility-input>
          <span class="small" *ngIf="reqsVisible">
            <span>
              Password Requirements:
            </span>

            <span *ngFor="let req of newPasswordErrors">
              <ion-icon name="checkmark"></ion-icon>
              {{req.text}}
            </span>

            <span>
              <ion-icon [class]="characterMin" name="checkmark"></ion-icon>
              Minimum of 7 characters
            </span>
            <span>
              <ion-icon [class]="lowercase" name="checkmark"></ion-icon>
              A lowercase letter
            </span>
            <span>
              <ion-icon [class]="uppercase" name="checkmark"></ion-icon>
              An uppercase letter
            </span>
            <span>
              <ion-icon [class]="number" name="checkmark"></ion-icon>
              A number
            </span>
          </span>
        </div>

        <div class="small-spacing">
          <stm-visibility-input
            id="pass2"
            name="pass2"
            class="{{ 'full-width' + (newPasswordMismatchError ? ' error' : '') }}"
            [(ngModel)]="confirmPass"
            type="password"
            placeholder="Confirm New Password"
          ></stm-visibility-input>
          <span class="small error" *ngIf="newPasswordMismatchError" [ngClass]="{ shake: newPasswordMismatchError }">
            Passwords do not match
          </span>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width centered text btn-no-bg" (click)="updatePassword()">Update Password</button>
    </div>
  </div>
</ion-footer>
