<ion-content>
  <div class="main">

    <h3>Set Up Monitors In Zone</h3>

    <div class="placeholder-img"></div>

    <p>
      Grab the amount of monitors required for one zone out of the package and turn them on. Place them in the areas specified in the zone diagram. Once they have been placed, check if the monitors are successfully connected. We will be going zone by zone.
    </p>

    <button class="text full-width centered">View Detailed Instructions</button>

    <button routerLink="/installation-wizard/zone-setup" class="full-width centered">Begin Setup</button>

  </div>
</ion-content>
