<ion-content class="bg-blue-dark">
  <div class="main">
    <div class="top-section">
      <h3>Setup Summary</h3>
    </div>

    <ion-list>
      <ion-item>
        Zones
      </ion-item>
      <ion-item *ngFor="let zone of this.zones">
        <span>
          {{ zone.label }}
          <!-- <span>{{this.getPairedMonitors(zone.monitors).length}}/{{zone.maxMonitors}} monitor{{zone.maxMonitors > 1 ? 's' :''}}</span> -->
          <span>{{ zone.monitors }}/{{ zone.maxMonitors }} monitor{{ zone.maxMonitors > 1 ? 's' : '' }}</span>
        </span>
        <span class="installation-status status-{{ zone.installationStatus }}"></span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer class="bg-blue-dark">
  <div class="main">
    <div class="bottom-section">
      <button class="full-width bg-blue-light" (click)="next()">Done</button>
    </div>
  </div>
</ion-footer>
