@import '~assets/scss/variables.scss';

h5 {
  color: $white;
}

ion-list ion-item > span {
  &:last-child {
    color: $white;
  }
  > span {
    color: $blue;
    padding: 4px 0 4px;
  }
}

.installation-status {
  position: relative;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 12px;
  &[class*='status'] {
    &:before {
      content: 'Unknown';
    }
  }
  &.status-0 {
    &:before {
      content: 'Complete';
    }
  }
  &.status-1 {
    &:before {
      content: 'Setup Incomplete';
    }
  }
  &.status-2 {
    &:before {
      content: 'Connection Error';
    }
  }
}
