@import '~assets/scss/variables.scss';

:host ion-ripple-effect {
  display: none;
}

ion-list-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  padding: 0;
  width: calc(100% - 29px);
}

ion-list {
  background: none;
  --background: none;
  padding-bottom: 32px;
  ion-item {
    background: none;
    --background: none;
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 16px auto;
    &:first-child {
      background: none;
      padding: 0;
      --padding-start: 0;
      font-size: 14px;
      color: $grey-primary;
    }
    > div {
      padding: 8px 0;
      &:last-child {
        margin-right: 24px;
        margin-left: auto;
        text-align: right;
      }
      h5 {
        font-size: 16px;
        margin: 0;
      }
      p {
        font-size: 14px;
        color: $grey-primary;
      }
      .status-2 {
        color: $red;
      }
      .status-1 {
        color: $orange;
      }
    }
    &:last-child {
      --border-width: 0px !important;
      --inner-border-width: 0 0 1px 0 !important;
    }
    span:last-child {
      margin-left: auto;
      color: $blue;
    }
    > span {
      padding: 8px 0;
      > span {
        display: block;
        color: $grey-secondary;
        padding-top: 8px;
        font-size: 14px;
      }
    }
  }
}

.spacer {
  height: 25px;
}

.right-align {
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}

.left-align {
  color: rgba(0, 0, 0, 0.3);
  text-align: start;
}

.critical {
  color: $red;
}

.warning {
  color: $orange;
}

.smallDetail {
  font-size: 10px;
  padding: 0;
}

.grey-bg {
  background: $surface-01;
}

.clear {
  background: $surface-01;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0;
  color: $black;
  display: flex;
  margin: 0 0 0 15px;
  padding: 5px;
  width: 90%;
}

img {
  color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 5px 0 0 5px;
  width: 10%;
}

ion-list {
  & ion-list-header,
  .item-content {
    background-color: $surface-01;
    border-color: $surface-03;
    --border-color: #{$surface-03};
    color: $grey-secondary;
  }
}

.no-content ion-list ion-item:last-child {
  --inner-border-width: 0 !important;
  div {
    margin: 0 auto;
  }
}
.center {
  text-align: center;
}
