<ion-content>
  <div class="main" [ngClass]="{ 'v-centered no-content': !tasks?.length }">
    <div *ngIf="!tasks?.length">
      <ion-list>
        <ion-item>
          <div>
            No pending task
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="tasks?.length">
      <ion-list *ngIf="activeComm?.length > 0 || activeTemp?.length > 0">
        <!-- Title -->
        <ion-item>
          Active
        </ion-item>

        <!-- Communication failures -->
        <ion-item *ngFor="let item of activeComm" routerLink="/tasks/task-detail/{{ item.id }}">
          <div>
            <h5 dynacontent>{{ item.name | titlecase }}</h5>
            <p dynacontent>{{ item.serialNo }}</p>
          </div>
          <div>
            <p class="operation-status status-{{ item.status }}" dynacontent>Critical</p>
            <p class="smallDetail" dynacontent>{{ item.ago | amTimeAgo }}</p>
          </div>
        </ion-item>

        <!-- Temperature Excursions -->
        <ion-item *ngFor="let item of activeTemp" routerLink="/tasks/task-detail/{{ item.id }}">
          <div>
            <h5 dynacontent>{{ item.name | titlecase }}</h5>
            <p>
              <span class="status-{{ item.status }}">
                {{ item.current }}
                <ion-icon *ngIf="item.trending == 'up'" name="arrow-round-up"></ion-icon>
                <ion-icon *ngIf="item.trending == 'down'" name="arrow-round-down"></ion-icon>
              </span>
              ({{ item.low }} - {{ item.high }})
            </p>
          </div>
          <div>
            <p *ngIf="item.status == 1" class="operation-status status-{{ item.status }}">Warning</p>
            <p *ngIf="item.status == 2" class="operation-status status-{{ item.status }}">Critical</p>
            <p class="smallDetail" dynacontent>{{ item.ago | amTimeAgo }}</p>
          </div>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="inactiveComm?.length > 0 || inactiveTemp?.length > 0">
        <!-- Title -->
        <ion-item>
          Inactive
        </ion-item>

        <!-- Communication failures -->
        <ion-item *ngFor="let item of inactiveComm" routerLink="/tasks/task-detail/{{ item.id }}">
          <div>
            <h5 dynacontent>{{ item.name | titlecase }}</h5>
            <p>Disconnected for {{ item.duration | amTimeAgo: true }}</p>
          </div>
          <div>
            <p dynacontent>{{ item.completed | amTimeAgo }}</p>
          </div>
        </ion-item>

        <!-- Temperature Excursions -->
        <ion-item *ngFor="let item of inactiveTemp" routerLink="/tasks/task-detail/{{ item.id }}">
          <div>
            <h5 dynacontent>{{ item.name | titlecase }}</h5>
            <p>{{ item.status === 2 ? 'Critical' : 'Warning' }} Range for {{ item.duration | amTimeAgo: true }}</p>
          </div>
          <div>
            <p dynacontent>{{ item.completed | amTimeAgo }}</p>
          </div>
        </ion-item>
      </ion-list>

      <ng-container *ngIf="tasks?.length == 0">
        <div class="center">
          <p class="smallDetail">No tasks to show</p>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
