<ion-content>
  <div class="main">
    <div class=" centered">
      <ion-select *ngIf="!generatingLogs" [(ngModel)]="lastXDays">
        <ion-select-option [value]="30">30 days</ion-select-option>
        <ion-select-option [value]="7">7 days</ion-select-option>
        <ion-select-option [value]="1">1 day</ion-select-option>
      </ion-select>
      <div *ngIf="generatingLogs">
        <svg class="spinner" viewBox="25 25 50 50">
          <circle cx="50" cy="50" r="20" />
        </svg>
        <h3>Creating report...</h3>
        <p>For the past {{ pluralize(lastXDays, 'day', lastXDays > 1) }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width" (click)="generateReports()">
        {{ generatingLogs ? 'Cancel' : 'View System Logs' }}
      </button>
    </div>
  </div>
</ion-footer>
