/* Purpose: style the Spinner component */

.spinner {
  display: block;
  width: 4em;
  height: 4em;
  margin: auto;
  animation: spinner-rotate 2s linear infinite;
  transform-origin: center center;
  margin: 2rem auto;

  circle {
    fill: none;
    stroke: #005596;
    stroke-width: 4;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    stroke-linecap: round;
    animation: spinner-path-dash 1.5s ease-in-out infinite;
  }
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-path-dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
