@import '~assets/scss/variables.scss';

@import '~assets/scss/variables.scss';

:host {
}
h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  .bg-blue-light &,
  .bg-blue-dark & {
    color: $white;
  }
}
h5 {
  text-align: left;
  font-size: 14px;
  color: $grey-secondary;
  border-bottom: 1px solid $surface-03;
  padding: 0 0 16px 0;
}

p {
  padding: 32px 0;
}
.top-section {
  height: 64px;
  margin: 0 0 32px;
  padding: 0;
  position: relative;
  h3 {
    position: absolute;
    bottom: 0;
    margin: 0;
    small {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
    }
  }
}
.bottom-section {
  padding: 16px 0;
}

ion-list {
  background: none;
  --background: none;
  padding-bottom: 32px;
  ion-item {
    background: none;
    --background: none;
    --inner-padding-end: 16px;
    padding: 8px 0 0;
    --padding-start: 16px;
    display: flex;
    border-color: $blue;
    --border-color: #{$blue};
    &:first-child {
      color: $white;
      font-size: 14px;
      --padding-start: 0;
      span {
        color: $blue;
      }
    }
    &:last-child {
      --border-width: 0px !important;
      --inner-border-width: 0 0 1px 0 !important;
    }
    > span:last-child {
      margin-left: auto;
      color: $blue;
      text-align: right;
      ion-toggle {
        padding-right: 0;
      }
    }
    > span {
      > span {
        display: block;
        color: $grey-secondary;
        padding-top: 8px;
        font-size: 14px;
      }
    }
  }
}

ion-footer {
  &:before {
    display: none;
  }
}

ion-slides {
  ion-slide {
    display: block;
  }
}

ion-list ion-item {
  border-color: $surface-03;
  --border-color: #{$surface-03};
  &:first-child {
    color: $grey-secondary;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: $blue-dark;
      font-weight: 500;
    }
  }
  .add {
    padding-left: 12px !important;
    &:before {
      content: '+';
      position: absolute;
      top: 4px;
      left: 0;
      color: $blue;
      font-size: 28px;
      font-weight: 500;
    }
  }
  .show {
    padding: 8px 0;
    .serial-number {
      display: block;
      color: $grey-secondary;
      padding-top: 8px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.top-section {
  h5 {
    border: none;
    padding: 0;
    position: relative;
    top: 16px;
  }
}

h3 span,
.show span span {
  display: inline-block;
  font-size: 12px;
  color: $grey-primary;
}

.remove {
  font-size: 12px;
}

.operation-status-text {
  &[class*='status'] {
    &:before {
      font-size: 12px;
      font-weight: 400;
      color: $grey-primary;
      content: 'Unknown';
    }
  }
  &.status-0 {
    &:before {
      content: 'Connected';
    }
  }
  &.status-1 {
    &:before {
      content: 'Disonnected';
    }
  }
}
