<ion-content>
  <div class="main">
    <div class="top-section text-left">
      <h3 dynacontent>{{ currentZone?.label }}</h3>
    </div>

    <ion-list>
      <ion-item>
        Notification Preferences
      </ion-item>
      <ion-item>
        <div>
          <span>Allow Notifications</span>
        </div>
        <span>
          <ion-toggle [(ngModel)]="!currentZone.muted" (ionChange)="toggleMute(currentZone.id)" mode="md"></ion-toggle>
        </span>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        Monitors
      </ion-item>
      <ion-item *ngFor="let monitor of currentZoneMonitors; let i = index">
        <div class="show">
          <span class="connected">
            {{ monitor.label }}
            <span class="serial-number" dynacontent>{{ monitor.serialNumber }}</span>
          </span>
        </div>
        <span>
          <span class="operation-status-text status-{{ monitor.state }}"></span>
          <!-- <a (click)="deleteDevice(monitor.id)" class="remove">Remove</a> -->
          <a (click)="openAlert(monitor.id)" class="remove">Remove</a>
        </span>
      </ion-item>

      <!-- <ion-item *ngFor="let slot of currentZoneSlots"> -->
      <!-- <ion-item *ngFor="let slot of currentZone"> -->
      <ion-item>
        <div class="add">
          <span class="add" (click)="this.openScanner()">Add Monitor</span>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
