<ion-content>
  <div class="main terms-page">
    <div class="middle-section license-privacy">
      <p class="centered bold">
        END USER LICENSE AGREEMENT<br />
        FOR SENSIWATCH PLATFORM, INCLUDING ALL APPS, WEBSITES AND SOFTWARE
      </p>
      <p class="bold">
        This Agreement is between you, your employer, and any company you are acting for during your use of the Software
        as defined herein (“you” or “your”) and Sensitech Inc., including its subsidiaries (“Licensor”), for the
        SensiWatch platform, including all applications (including mobile applications), websites, web-based software,
        and other software that you access now or in the future, including all associated media, printed or electronic
        documentation, application programming interfaces (“APIs”), internet-based services, and any Updates thereto
        (collectively, the “Software”).
      </p>
      <p class="bold">
        BY DOWNLOADING, INSTALLING OR USING THE SOFTWARE, YOU AGREE TO BE BOUND BY THIS END USER LICENSE AGREEMENT (THE
        “AGREEMENT”). IF YOU DO NOT AGREE, DO NOT INSTALL, COPY OR USE THE SOFTWARE; YOU MUST DELETE OR DESTROY ANY COPY
        IN YOUR POSSESSION OR CONTROL. USE OF THE SOFTWARE IS LIMITED TO AUTHORIZED USERS PROVIDED WITH LOGIN
        CREDENTIALS FROM LICENSOR OR A CUSTOMER OF LICENSOR, OR WHO ARE USING THE SOFTWARE WITH EXPRESS PERMISSION FROM
        LICENSOR OR A CUSTOMER OF LICENSOR TO ACCESS DATA OF THAT PARTY. IF YOU HAVE NOT BEEN PROVIDED WITH LOGIN
        CREDENTIALS FROM LICENSOR OR A CUSTOMER OF LICENSOR, OR IF YOU DO NOT HAVE EXPRESS PERMISSION FROM LICENSOR OR A
        CUSTOMER OF LICENSOR TO ACCESS THEIR DATA, YOUR USE OF THE SOFTWARE IS PROHIBITED.
      </p>
      <p>
        <strong>1. License Grants</strong>. During the term of this Agreement and conditioned upon your full compliance
        with all of the Agreement’s terms and conditions, Licensor grants to you the following licenses:
      </p>
      <p class="indent">
        1.1 &nbsp; Software. If you are using the Software with login credentials, Licensor grants to you a personal,
        nonexclusive, nonsublicensable, nontransferable and revocable license to install (as necessary for Software that
        requires installation) and use the Software solely for the benefit of Licensor’s customer associated with your
        login credentials. You may not access the information or databases of any other person or entity other than
        Licensor’s customer associated with your login credentials. If you are using the Software without login
        credentials, Licensor grants to you a personal, nonexclusive, nonsublicensable, nontransferable and revocable
        license to use the limited portions of the Software available without login credentials to access data of
        Licensor or Licensor’s customers only to the extent you have that party’s express permission to do so.
      </p>
      <p class="indent">
        1.2 &nbsp; Documentation. Licensor grants to you a personal, nonexclusive, nonsublicensable, nontransferable,
        revocable license to make and use a reasonable number of copies of documentation provided with the Software for
        your internal use in connection with your use of the Software; provided that you reproduce all copyright and
        other proprietary notices that are on the original copies.
      </p>
      <p>
        <strong>2. License Limitations.</strong> The license(s) granted in Section 1 are conditioned upon your
        compliance with the following limitations:
      </p>
      <p class="indent">
        2.1 &nbsp; Reverse Engineering. You may not decompile, decipher, disassemble, reverse engineer or otherwise
        attempt to access source code of the Software, or circumvent any technical limitations in the Software that
        limit or restrict access to or use of the Software or any content, file, or other work, except as expressly
        permitted by applicable law notwithstanding this limitation.
      </p>
      <p class="indent">
        2.2 &nbsp; No Distribution, Rental or Transfer. You may not distribute, publish, rent, lease, lend, transfer,
        sublicense, disclose or otherwise provide the Software to any third party.
      </p>
      <p class="indent">
        2.4 &nbsp; No Modification or Derivative Works. You may not modify or create derivative works of the Software,
        in whole or in part.
      </p>
      <p class="indent">
        2.5 &nbsp; Proprietary Notices. You may not remove any proprietary notices or labels on the Software or any copy
        thereof.
      </p>
      <p class="indent">
        2.6 &nbsp; Non-Permitted Uses. Without limiting any of the foregoing, you may not make any use of the Software
        in any manner not expressly permitted by this Agreement.
      </p>
      <p>
        <strong>3. Scope of Agreement.</strong> You understand and agree that this Agreement applies to all Software,
        including Software added to the SensiWatch platform after the date you accept this Agreement, and/or Software
        you access for the first time after the date you accept this Agreement.
      </p>
      <p>
        <strong>4. Reservation of Rights and Ownership; Data.</strong>
      </p>
      <p class="indent">
        4.1 &nbsp; Licensor, its parent or its suppliers own all right, title and interest, including all intellectual
        property rights, in and to the Software and reserve all rights not expressly granted to you in this Agreement.
        You have no rights in the Software other than the license granted in Section 1.1. The Software is protected by
        copyright and other intellectual property laws and treaties. All trademarks, logos, and service marks
        (collectively, “Marks”) displayed on the Software are the property of Licensor or of their respective holders.
        You are not permitted to use any of the Marks without the applicable prior written consent of Licensor or such
        respective holders.
      </p>
      <p class="indent">
        4.2 &nbsp; You grant and agree to grant to Licensor a worldwide, non-exclusive, non-terminable, irrevocable,
        perpetual, paid-up, royalty free license to use any data provided, derived or used in any way in connection with
        the Software (including data acquired by Licensor’s sensors and provided to the Software), with the right to
        sub-license, for Licensor’s business purposes including (i) the improvement of Licensor’s products, services,
        and analytics platforms; (ii) improving product performance, operation, reliability, and maintainability; (ii)
        to create, compile, and/or use datasets and/or statistics for the purposes of benchmarking, development of best
        practices, and product improvement; (iv) the provision of services to third parties, (v) research, statistical,
        and marketing purposes, and/or (vi) in support of Licensor’s agreements.
      </p>
      <p class="indent">
        4.3 &nbsp; All information, data, files, graphics, images, documentation, communications and any other material
        (except Feedback as defined below) that you choose to submit using the Software, or that the Software uses or
        accesses for the purpose of operation, including location data (collectively, “Submissions”), if any, are
        understood to be submitted and provided to Licensor voluntarily. Aggregated or anonymized data derived from
        Submissions shall not constitute your Submissions or confidential information. By using the Software,
        submitting, uploading, posting, or transmitting Submissions and/or personally identifiable information through
        the Software, you grant to Licensor a worldwide, royalty-free, non-exclusive, sublicensable license to use,
        distribute, reproduce, modify, adapt, create derivative works of, publish and/or translate those Submissions and
        data derived therefrom, as submitted or in aggregated or anonymized form, for Licensor’s business purposes and
        in accordance with the Privacy Policy provided with this Agreement. You are solely responsible for all
        Submissions uploaded, downloaded, posted, emailed, transmitted, stored or otherwise made available through the
        Software by you. Licensor reserves the right to determine whether any Submission is appropriate and/or in
        compliance with this Agreement, and may pre-screen, monitor, filter, restrict, block, move, refuse, modify or
        remove Submissions at any time in its sole discretion without prior notice. Licensor does not guarantee the
        security or availability of any Submissions or other information transmitted or stored through the Software.
      </p>
      <p class="indent">
        4.4 &nbsp; You may choose to, or Licensor may invite you to, submit comments, suggestions, or ideas about the
        Software, including how to improve the Software (“Feedback”). By submitting any Feedback, you agree that your
        submissions are voluntary, gratuitous, and without restriction and will not place Licensor or its suppliers
        under any fiduciary or other obligation. You irrevocably assign to Licensor all right, title and interest
        throughout the world in the Feedback without the right to any compensation or royalties from Licensor or its
        suppliers and, to the extent allowed by applicable law, you waive all moral rights you may have in the Feedback.
        Licensor may use, copy, modify, publish, or redistribute the Feedback for any purpose. You also agree that
        Licensor does not waive any rights to use similar or related ideas to those contained in the Feedback, and that
        Licensor may use such similar or related ideas.
      </p>
      <p>
        <strong>5. Additional Software or Services.</strong> This Agreement applies to any updates, supplements, add-on
        components, and internet-based service components (if any) of the Software that Licensor may, in its sole
        discretion, provide or make available to you (“Update”). If Licensor provides additional terms along with the
        Update, those terms will apply to the Update. If Licensor provides you an Update, Licensor may, at its sole
        discretion, require you to use Update and cease use of earlier versions. Licensor reserves the right to
        discontinue any service provided or made available to you through the Software.
      </p>
      <p>
        <strong>6. Termination.</strong> This Agreement will automatically terminate upon your breach of any of this
        Agreement’s terms and conditions. In the event of termination, you must immediately destroy all copies of the
        Software, and the following Sections of this Agreement will survive: Sections 2 to 4 and 6 to 13.
      </p>
      <p class="bold">
        7. <u>DISCLAIMER OF WARRANTIES.</u> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW THE SOFTWARE IS PROVIDED
        AS IS AND WITH ALL FAULTS. LICENSOR AND ITS PARENT, AFFILIATES AND SUPPLIERS HEREBY DISCLAIM ALL OTHER
        WARRANTIES AND CONDITIONS, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING ANY IMPLIED WARRANTIES, DUTIES OR
        CONDITIONS OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. ALSO, THERE IS NO WARRANTY OR CONDITION OF
        TITLE, QUIET ENJOYMENT, QUIET POSSESSION, CORRESPONDENCE TO DESCRIPTION OR NON-INFRINGEMENT, LACK OF VIRUSES OR
        BUGS, ACCURACY OR COMPLETENESS OF RESPONSES OR RESULTS WITH REGARD TO THE SOFTWARE. LICENSOR AND ITS PARENT,
        AFFILIATES AND SUPPLIERS DO NOT WARRANT THAT THE OPERATION OF THE SOFTWARE WILL BE UNINTERRUPTED OR ERROR-FREE
        OR THAT ANY DEFECTS WILL BE CORRECTED. THE ENTIRE RISK ARISING OUT OF THE SOFTWARE REMAINS WITH YOU.
      </p>
      <p class="bold">
        8. <u>EXCLUSIONS OF CERTAIN DAMAGES; LIMITATIONS OF LIABILITY.</u> IN NO EVENT WILL LICENSOR OR ITS PARENT,
        AFFILIATES OR SUPPLIERS BE LIABLE FOR ANY SPECIAL, INCIDENTAL, PUNITIVE, INDIRECT OR CONSEQUENTIAL DAMAGES
        (INCLUDING DAMAGES FOR LOSS OF PROFITS, DAMAGES TO ANY COMPUTER, DEVICE, OR SYSTEM, LOSS OF DATA, GOODWILL, USE
        OR OTHER LOSSES) ARISING OUT OF OR IN ANY WAY RELATED TO THE SOFTWARE OR THIS AGREEMENT, REGARDLESS OF THE CAUSE
        OF ACTION OR THE BASIS OF THE CLAIM AND EVEN IF LICENSOR HAS BEEN ADVISED OF THE POSSIBILITY OF THE DAMAGES OR
        REMEDIES FAIL OF THEIR ESSENTIAL PURPOSE.
      </p>
      <p class="bold">
        LICENSOR’S AND ITS PARENT’S, AFFILIATES’ AND SUPPLIERS’ ENTIRE LIABILITY UNDER THIS AGREEMENT AND YOUR EXCLUSIVE
        REMEDY WILL BE LIMITED TO THE ACTUAL DAMAGES YOU INCUR IN REASONABLE RELIANCE ON THE SOFTWARE UP TO A MAXIMUM OF
        TWENTY US DOLLARS ($20). NO ACTION, REGARDLESS OF FORM, RELATING TO THE SOFTWARE MAY BE BROUGHT BY YOU MORE THAN
        ONE YEAR AFTER YOU HAVE KNOWLEDGE OF THE OCCURRENCE WHICH GIVES RISE TO THE CAUSE OF ACTION.
      </p>

      <p>
        <strong>9. Indemnification.</strong> You agree to defend, indemnify and hold harmless Licensor and its parent,
        affiliates and suppliers and their respective officers, directors and employees from all claims and expenses
        (including attorneys’ fees and costs) that arise out of or in connection with your use or distribution of the
        Software, any breach of this Agreement, or your violation of any laws or regulations or the rights of any third
        party.
      </p>
      <p>
        <strong>10. Third Party Software.</strong> The Software may contain third party software which requires notices
        and/or additional terms and conditions. Such required third party software notices and/or additional terms and
        conditions are available from the third party software provider, and are more a part of and incorporated by
        reference into this Agreement. Certain items of independent, third party code may be included in the Application
        that are subject to open source licenses (“Open Source Software”). The Open Source Software is licensed under
        the terms of the license that accompanies such Open Source Software. Nothing in this Agreement limits your
        rights under, or grants you rights that supersede the terms and conditions of any applicable end user license
        for such Open Source Software.
      </p>
      <p>
        <strong>11. U.S. Government License Rights.</strong> Software provided to the U.S. Government pursuant to
        solicitations issued on or after December 1, 1995 is provided with the commercial license rights and
        restrictions described in this Agreement. Software provided to the U.S. Government pursuant to solicitations
        issued prior to December 1, 1995 is provided with “Restricted Rights” as provided for in FAR, 48 CFR 52.227-14
        (JUNE 1987) or DFAR, 48 CFR 252.227-7013 (OCT 1988), as applicable.
      </p>
      <p>
        <strong>12. Compliance with Law; Export Restrictions.</strong> You will comply with all applicable international
        and national laws, rules and regulations that apply to the Software and your use of the Software, including the
        U.S. Export Administration Regulations, as well as end user, end use, and destination restrictions issued by
        U.S. or other governments. You acknowledge that the Software is of U.S. origin and subject to U.S. export
        jurisdiction.
      </p>
      <p>
        <strong>13. Governing Law and Jurisdiction.</strong> This Agreement will be construed and controlled by the laws
        of the state of Delaware, without giving effect to its conflict of law provisions. Each party consents to
        exclusive jurisdiction and venue in the state and federal courts in Delaware for any and all disputes, claims
        and actions arising from or in connection with the Software and this Agreement. The United Nations Convention on
        Contracts for the International Sale of Goods does not apply to this Agreement.
      </p>
      <p>
        <strong>14. Specific Provisions for Apple Device Users.</strong> The following provisions apply to you when you
        use an application that is part of the Software (for this Section 14, an “Application”) on an Apple device:
      </p>
      <p class="indent">
        14.1 &nbsp; Acknowledgement: You acknowledge that the Agreement is concluded between you and Licensor only, and
        not with Apple. Licensor, not Apple, is solely responsible for the Application and the content thereof.
      </p>
      <p class="indent">
        14.2 &nbsp; Scope of License: You acknowledge that the license granted herein for the Application is limited,
        non-transferable license to use the Application on any Apple device that you own or control and as permitted by
        the Usage Rules set forth in the App Store Terms of Service.
      </p>
      <p class="indent">
        14.3 &nbsp; Maintenance and Support: Licensor is solely responsible for providing any maintenance and support
        services with respect to the Application, as specified in the Agreement, or as required under applicable law.
        You acknowledge that Apple has no obligation whatsoever to furnish any maintenance and support services with
        respect to the Application.
      </p>
      <p class="indent">
        14.4 &nbsp; Warranty: Licensor shall be solely responsible for any product warranties, whether express or
        implied by law, to the extent identified herein and not effectively disclaimed. In the event of any failure of
        the Application to conform to any applicable warranty, you may notify Apple, and Apple will refund the purchase
        price, if any, for the Application to you. To the maximum extent permitted by applicable law, Apple will have no
        other warranty obligation whatsoever with respect to the Application, and any other claims, losses, liabilities,
        damages, costs or expenses attributable to any failure to conform to any warranty will be Licensor’s sole
        responsibility to the extent identified herein.
      </p>
      <p class="indent">
        14.5 &nbsp; Product Claims: You acknowledge that Licensor, not Apple, is responsible for addressing any claims
        relating to the Application or the end-user’s possession and/or use of that Application, including, but not
        limited to: (i) product liability claims; (ii) any claim that the Application fails to conform to any applicable
        legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.
      </p>
      <p class="indent">
        14.6 &nbsp; Intellectual Property Rights: You acknowledge that, in the event of any third party claim that the
        Application or your possession and use of the Application infringes that third party’s intellectual property
        rights, Licensor, not Apple, will be solely responsible for the investigation, defense, settlement and discharge
        of any such intellectual property infringement claim to the extent not otherwise disclaimed herein.
      </p>
      <p class="indent">
        14.7 &nbsp; Legal Compliance: You represent and warrant that (i) you are not located in a country that is
        subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist
        supporting” country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted
        parties.
      </p>
      <p class="indent">
        14.8 &nbsp; Third Party Terms of Agreement: You acknowledge that you must comply with all applicable third party
        terms of agreement when using the Application.
      </p>
      <p class="indent">
        14.9 &nbsp; Third Party Beneficiary: Licensor and you acknowledge and agree that Apple, and Apple’s
        subsidiaries, are third party beneficiaries of this Agreement, and that, upon your acceptance of the terms and
        conditions of the Agreement, Apple will have the right (and will be deemed to have accepted the right) to
        enforce the Agreement against you as a third party beneficiary thereof.
      </p>
      <p>
        <strong>15. General.</strong> The section titles in this Agreement are used solely for the parties’ convenience
        and have no legal or contractual significance. Any list of examples following "including" or "e.g.," is
        illustrative and not exhaustive, unless qualified by terms like "only" or "solely." Licensor’s failure to act
        with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar
        breaches. No waiver of any provision of this Agreement will be effective unless it is in a signed writing, and
        no waiver will constitute a waiver of any other provision(s) or of the same provision on another occasion. If a
        court of competent jurisdiction holds any term, covenant or restriction of this Agreement to be illegal, invalid
        or unenforceable, in whole or in part, the remaining terms, covenants and restrictions will remain in full force
        and effect and will in no way be affected, impaired or invalidated. The person accepting this Agreement
        represents and warrants that they have authority to enter into this Agreement on behalf of himself or herself,
        their employer, and any company they are acting for during their use of the Software. You may not assign,
        transfer or sublicense this Agreement or your rights (if any) under this Agreement. This Agreement will be
        binding upon all successors and assigns. This Agreement constitutes the entire agreement between you and
        Licensor with respect to the Software and merges all prior and contemporaneous communications and proposals,
        whether electronic, oral or written, between you and Licensor with respect to the Software. All notices to
        Licensor in connection with this Agreement must be in writing and will be deemed given as of the day they are
        deposited in the U.S. mails, postage prepaid, certified or registered, return receipt requested or sent by
        overnight courier, charges prepaid to the address set forth below.
      </p>
      <p>
        LICENSOR INFORMATION<br />
        If you have any questions about this Agreement, or want to contact Licensor for any reason, please direct all
        correspondence to:
      </p>
      <p>
        Sensitech Inc.<br />
        800 Cummings Center, Suite 258X<br />
        Beverly, MA 01915<br />
        USA<br />
        Attn: Legal Department
      </p>
      <p>
        Copyright &copy; 2019, Sensitech Inc. All rights reserved.
      </p>
    </div>
  </div>
</ion-content>
