<ion-content>
  <div class="main">
    <div class="menu-page">
      <div class="faq">
        <div class="faq--question">
          <h6>How do I know that my system is working?</h6>
        </div>

        <div class="faq--answer">
          <p>The lights should be green on SensiWatch Gateway and the SensiWatch Remote Sensors.</p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>What do the lights on the SensiWatch Gateway indicate?</h6>
        </div>

        <div class="faq--answer no-margin">
          <p>Power</p>
          <p>Green: good to go</p>
          <p>Red: contact Sensitech support</p>
          <br />
          <p>WAN</p>
          <p>Blue flashing: seeking a connection</p>
          <p>Green: good to go</p>
          <p>Red: means move the device as connection cannot be found in this location</p>
          <br />
          <p>LAN</p>
          <p>Blue: no connection with sensors has been established</p>
          <p>Green: connection to at least one sensor within last two connection intervals</p>
          <p>Red: contact Sensitech support</p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>What do the lights on the SensiWatch Remote Sensor indicate?</h6>
        </div>

        <div class="faq--answer no-margin">
          <p>Blue: seeking a connection</p>
          <p>Green: good to go</p>
          <p>Red: contact Sensitech support</p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>How do I contact Sensitech support?</h6>
        </div>

        <div class="faq--answer ">
          <p>Email: <a href="mailto:support@sensitech.com" target="_blank">support@sensitech.com</a></p>
          <p>Call: <a href="tel:+18008438367">+1-800-843-8367</a> (+1-800-THE-TEMP)</p>
          <p>
            Website: <a href="http://www.sensitech.com/en/support/" target="_blank">www.sensitech.com/en/support</a>
          </p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>How do I replace or add more SensiWatch Remote Sensors?</h6>
        </div>

        <div class="faq--answer">
          <p>Call: <a href="tel:+18008438367">+1-800-843-8367</a> (+1-800-THE-TEMP)</p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>How do I install my SensiWatch Gateway?</h6>
        </div>

        <div class="faq--answer">
          <p>
            To ensure best signal and performance, place Gateway securely in a central location not blocked by large
            objects.
          </p>
          <p>We recommend you securely attach the Gateway using the provided screws or zip ties.</p>
          <p>1. Plug Gateway into a power outlet that is not controlled by a wall switch.</p>
          <p>2. Press power button.</p>
          <p>3. Wait up to 30 seconds until the LED indicator on &nbsp;&nbsp;&nbsp;the Gateway turns green.</p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>How do I install my SensiWatch Remote Sensor?</h6>
        </div>

        <div class="faq--answer">
          <p>We recommend you securely attach the Sensors using the provided screws or zip ties.</p>
          <p>1. Place Sensor.</p>
          <p>2. Press power button.</p>
          <p>3. LED will turn green indicating good connectivity.</p>
        </div>
      </div>

      <div class="faq">
        <div class="faq--question">
          <h6>What happens if the power goes out?</h6>
        </div>

        <div class="faq--answer">
          <p>The SensiWatch Gateway includes an internal battery so your service will not be interrupted.</p>
          <p>The SensiWatch Remote Sensor is powered by an internal battery and is not impacted by power outage.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
