@import '~assets/scss/variables.scss';

.faq {
  margin-bottom: 40px;

  &--question {
    color: $grey-primary;
  }

  &--answer {
    @include body-2;
    color: $grey-secondary;
    margin-top: 15px;
    padding-right: 18px;

    &.no-margin {
      p {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
