@import '~assets/scss/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul.navbar-nav {
  background: $black;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 48px;
  visibility: visible;
  width: 100%;
}

a.nav-link {
  background: $black;
  color: $white;
  display: inline-block;
  height: 48px;
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
  width: 100%;
}

ion-router-outlet {
  transition: margin 200ms ease;
  &.no-nav {
    margin-top: 0;
  }
}

.debug {
  z-index: 10;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100vw - 48px);
  overflow: hidden;
  left: 24px;
  background: rgba(255, 200, 200, 0.5);
  border: 1px solid #999;
  display: none;
}
