<ion-content class="bg-blue-light">
  <div class="main">
    <div class="top-section text-left">
      <h3 *ngIf="!this.isLastSlide">Gateway Setup</h3>
    </div>

    <div class=" text-left">
      <ion-slides
        #slider
        pager="true"
        [options]="sliderOptions"
        (ionSlideDidChange)="this.slideChanged()"
        *ngIf="!this.isLastSlide"
      >
        <ion-slide>
          <img src="/assets/images/gateway-setup-1.png" />
          <p>
            To ensure best signal and performance, place Gateway securely in a central location not blocked by large
            objects.
          </p>
        </ion-slide>
        <ion-slide>
          <img src="/assets/images/gateway-setup-2.png" />
          <p>
            Plug Gateway into a power outlet that is not controlled by a wall switch. Press power button.
          </p>
        </ion-slide>
        <ion-slide>
          <img src="/assets/images/gateway-setup-3.png" />
          <p>
            Wait up to 30 seconds until the LED indicator on the Gateway turns green, then proceed to Monitor setup.
          </p>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="bottom-section bg-blue-light">
    <button class="full-width centered bg-blue-light" (click)="this.nextSlide()" *ngIf="!this.isLastSlide">
      Continue
    </button>
    <button class="full-width centered bg-blue-light" (click)="addGateWayAndContinue()" *ngIf="this.isLastSlide">
      Continue to Monitor Setup
    </button>
  </div>
</ion-footer>
