@import '~assets/scss/variables.scss';

ion-content {
  --background: $white;
  background: $white;
}

.main {
  height: 100%;

  &.terms-page {
    @include body-2;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.middle-section {
  padding-top: 24px;
  background-color: $white;
  padding-left: 24px;
  padding-right: 24px;

  &.license-privacy {
    background: none;
    padding-bottom: 24px;
  }
}

ul {
  padding: 0 0 32px 24px;
}
p {
  padding-bottom: 24px;
  line-height: 18px;
  &.bold {
    @include font-bold;
  }
  &.indent {
    text-indent: 24px;
  }
  span {
    word-break: break-all;
  }
}
p,
li {
  color: $grey-primary;
  line-height: 18px;
}
ion-footer {
  button {
    width: 50%;
    margin: 8px 0;
  }
}
