<ion-content>
  <div class="main terms-page">
    <div class="middle-section">
      <p>
        All users must agree to our End User License Agreement (EULA) and Privacy Notice to access SensiWatch Site data.
      </p>

      <p>Users requirements include:</p>
      <ul>
        <li>Use requires full agreement with the SensiWatch End User License Agreement</li>
        <li>Sensitech Privacy Notice applies to all user and data transfers</li>
        <li>Allowing access to your camera to scan bar codes on devices at install</li>
        <li>Downloaded data will be temporarily stored on your mobile device</li>
        <li>All generated reports and Certificate of Calibration are copyright of Sensitech Inc.</li>
        <li>Data charges may apply</li>
      </ul>

      <p class="centered">
        <a routerLink="/terms/license">License Agreement</a>
        <br /><br />
        <a routerLink="/terms/privacy">Privacy Notice</a>
      </p>

      <p class="centered">Select "I Agree" below to accept the License Agreement and Privacy Notice.</p>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main no-nav">
    <div class="top-section">
      <button (click)="dismiss()" class="btn-no-bg">Decline</button>
      <button (click)="accept()" class="btn-no-bg">I Agree</button>
    </div>
  </div>
</ion-footer>
