<ion-content>
  <div class="main">
    <ion-list>
      <!-- Cooler -->
      <ion-item>
        <ion-label>Cooler</ion-label>
        <ion-toggle [(ngModel)]="zones.cooler" mode="md"></ion-toggle>
      </ion-item>

      <!-- Dine Line -->
      <ion-item>
        <ion-label>Dine Line</ion-label>
        <ion-toggle [(ngModel)]="zones.dineLine" mode="md"></ion-toggle>
      </ion-item>

      <!-- Drive Reach -->
      <ion-item>
        <ion-label>Dine Reach</ion-label>
        <ion-toggle [(ngModel)]="zones.dineReach" mode="md"></ion-toggle>
      </ion-item>

      <!-- Freezer -->
      <ion-item>
        <ion-label>Freezer</ion-label>
        <ion-toggle [(ngModel)]="zones.freezer" mode="md"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
