@import '~assets/scss/variables.scss';

:host {
  ion-item {
    --inner-border-width: 0px 0px 1px 0px !important;
    --border-color: #e0e2e4;
  }
}

ion-list {
  background: none;
  --background: none;

  ion-item {
    background: none;
    --background: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #2c3e50;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding: 0;
    --padding-start: 0;
    margin-right: -3px;
  }
}
