/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #8d959e;
  border-radius: 2px;

  /* Create the indicator (the dot/circle - hidden when not checked) */
  &:after {
    content: '';
    position: absolute;
    display: none;

    /* Style the selection indicator (square) */
    top: 0px;
    left: 0px;
    width: 12px;
    height: 12px;
    background: transparent url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="100%" height="100%"><path fill="#fff" d="M 4.321 9.889 L 0.785 6.354 L 2.73 4.409 L 4.674 6.354 L 9.27 1.757 L 11.215 3.702 L 4.674 10.243"%3E%3C/path%3E%3C/svg%3E') no-repeat center center;
  }
}

.corrective-action {
  padding-bottom: 3em;

  h1 {
    text-align: center;
    font-size: 0.9em;
    color: #818a94;
    margin-bottom: 1em;
  }

  h2 {
    display: inline-block;
    margin: 0;
    color: #334050;
    font-size: 1.36em;
    font-weight: 500;
  }

  .status {
    color: #34CB81;
    float: right;
    font-size: 0.9em;

    &.orange {
      color: #f09b38;
    }

    &.red {
      color: #EB1616;
    }
  }

  .meta {
    color: #818a94;
    font-size: 0.8em;
    margin-bottom: 2em;

    span + span {
      float: right;
    }
  }

  hr {
    margin: 0.2em 0;
    border-color: #e9eaec;
  }

  .gray {
    color: #818a94;
    font-size: 0.8em;
    margin-bottom: 2em;
    line-height: 1.7em;
  }

  form {
    margin-left: 0.8em;

    label {
      display: block;
      position: relative;
      padding-left: 2.4em;
      font-size: 0.9em;
      margin-bottom: 1.2em;
      overflow: hidden;

      input[type='checkbox'] {
        vertical-align: middle;
        margin: 0 0.75em 0 0.5em;
      }

      input[type='checkbox'] {
        /* Hide the browser's default radio button */
        position: absolute;
        opacity: 0;

        /* When the radio button is checked, add a blue background */
        &:checked ~ .checkmark {
          background-color: #4592ca;
          border-color: transparent;
        }

        /* Show the indicator (dot/circle) when checked */
        &:checked ~ .checkmark:after {
          display: block;
        }
      }
    }

    textarea {
      border: 2px solid rgba(0, 0, 0, 0.2);
      width: 100%;
      margin-bottom: 1em;
      min-height: 5em;
      font-size: 0.9em;
      padding: 0.5em;
      background-color: transparent;

      &:disabled {
        opacity: 0;
        min-height: 0;
        height: 0;
      }

      &:focus {
        border-color: #0094D0;
        outline: none;
      }
    }
  }
}
