<ion-content>
  <div class="main corrective-action">
    <div class="row">
      <h2>Cooler</h2>
      <span class="status orange">Warning</span>

      <hr />
    </div>

    <div class="row">
      <div class="meta">
        <span>Above Target Range 0&ndash;15°F</span>
        <span>30m ago</span>
      </div>

      <p class="gray">
        Please apply an appropriate fix for this
        issue from a list of options below.
      </p>

      <form>
        <label *ngFor="let item of options">
          <input type="checkbox"
            (change)="onChange(item.key)" />
          <span class="checkmark"></span>
          {{item.value}}
        </label>
        <label>
          <input type="checkbox"
            (change)="onChange('other')" />
          <span class="checkmark"></span>
          Other
        </label>
        <textarea id="other_reason" [disabled]="!displayTextarea"
          class="full-width" (input)="specifyOtherReason($event)"
          placeholder="Placeholder"></textarea>
      </form>

      <label for="additionalNotes">Additional Notes</label>
      <input id="additionalNotes" type="text" class="full-width"
        required="required" placeholder="Enter notes (optional)" />
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button
        class="full-width"
        [disabled]="formDisabled()"
        (click)="submitForm()"
      >Submit</button>
    </div>
  </div>
</ion-footer>
