@import '~assets/scss/variables.scss';

.top-section {
  padding-bottom: 64px;
  > div {
    display: inline-block;
    position: relative;
    img {
    }
    .version {
      font-size: 10px;
      position: absolute;
      top: 100%;
      right: 0;
      color: $grey-secondary;
    }
  }
}

p,
li {
  @include body-2;
  color: $grey-primary;
}

p {
  padding-bottom: 32px;
}

.get-started {
  padding-bottom: 16px;
}

li {
  text-align: left;
  padding-bottom: 16px;
}
