<ion-content>
  <div class="main">
    <div class="top-section centered">
      <div>
        <img class="logo" src="/assets/images/sensiwatch-site-logo.png" />
        <span *ngIf="!isProd" class="version"> v{{ appVersion }} {{ envTarget.toUpperCase() }} </span>
      </div>
    </div>

    <div class=" centered">
      <p>Welcome!</p>

      <p>
        Save time and gain visibility into your operations.
      </p>

      <p>
        SensiWatch&trade; Site is an IoT solution that digitally captures temperatures throughout your restaurant to
        automate compliance checks and provide you visibility whether you are on site or away from the restaurant.
      </p>

      <p class="get-started">
        To get started:
      </p>
      <ul>
        <li>
          Make sure you have your SensiWatch Site User Name and Password. If you need help, contact us at
          <a href="http://www.sensitech.com/en/support" target="_blank">www.sensitech.com/en/support</a>
        </li>
        <li>Instructions on installing the Gateway and Sensors are available in the kit.</li>
      </ul>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="bottom-section">
    <button class="full-width btn-no-bg centered" routerLink="/login">Continue</button>
  </div>
</ion-footer>
