<div class="site-switcher">
  <div class="site-switcher--content" (click)="showDropDownIcon ? showSitePicker() : null">
    <p>{{ defaultSite }}</p>
    <img
      *ngIf="showDropDownIcon"
      class="site-switcher--icon"
      src="../../assets/icon/expand_more.svg"
      alt="arrow expand"
    />
  </div>
</div>
