@import '~assets/scss/variables.scss';

.site-switcher {
  background-color: $surface-01;
  padding: 16px 24px 0px;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 96px;

  &--content {
    border-bottom: 1px solid $surface-03;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;

    p {
      @include subtitle-1;
      margin: 0;
      color: $grey-primary;
    }
  }
}
