<ion-content>
  <div class="main">
    <div class="top-section text-left">
      <h5>Zone {{ this.currentZoneIndex + 1 }} of {{ this.zones.length }}</h5>
      <h3 dynacontent>{{ this.currentZone?.name }}</h3>
    </div>

    <div class="bg-blue-dark tip">
      <button class="full-width text-left">How do I install monitors?</button>
    </div>

    <ion-list>
      <ion-item>
        Monitors
      </ion-item>
      <ion-item *ngFor="let monitor of currentZoneMonitors; let i = index">
        <div class="show">
          <span class="connected">
            {{ monitor.label }}
            <span dynacontent>{{ monitor.serialNumber }}</span>
          </span>
        </div>
      </ion-item>

      <ion-item *ngFor="let slot of currentZoneSlots">
        <div class="add">
          <span class="add" (click)="this.openScanner(this.currentZone.id, slot)">Add Monitor</span>
        </div>
      </ion-item>
    </ion-list>

    <p class="centered">Please make sure to place monitor in the appropriate zone area after pairing.</p>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width bg-blue-light">
        {{ this.currentZoneIndex + 1 >= this.zones.length ? 'View Summary' : 'Next Zone' }}
      </button>
    </div>
  </div>
</ion-footer>
