@import '~assets/scss/variables.scss';

ion-list ion-item {
  border-color: $surface-03;
  --border-color: #{$surface-03};
  &:first-child {
    color: $grey-secondary;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: $blue-dark !important;
      font-weight: 500;
    }
  }
  .add {
    padding-left: 12px !important;
    &:before {
      content: '+';
      position: absolute;
      top: 4px;
      left: 0;
      color: $surface-03;
      font-size: 28px;
      font-weight: 500;
    }
  }
  .show > span {
    padding: 8px 0;
    > span {
      display: block;
      color: $surface-03 !important;
      padding-top: 8px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.tip {
  padding: 0;
  button {
    padding: 24px 0 !important;
    height: auto;
    line-height: normal;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 500;
    &:after {
      content: 'i';
      font-size: 13px;
      position: absolute;
      right: 0;
      width: 16px;
      height: 16px;
      border: 2px solid $white;
      border-radius: 16px;
      text-align: center;
    }
  }
}

.top-section {
  h5 {
    border: none;
    padding: 0;
    position: relative;
    top: 16px;
  }
}

h3 span,
.show span span {
  display: inline-block;
  font-size: 12px;
  color: $grey-primary;
}

.delete {
  font-variant: small-caps;
  font-weight: bold;
  color: $red !important;
}
