@import '../../../assets/scss/variables.scss';

$icon-size: 24px;

.zone-detail {
  .row {
    align-content: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    h2 {
      color: #2c3e50;
      font-size: 31px;
      letter-spacing: 0.25px;
      line-height: 41px;
      margin: 0;
    }
  }

  &--header {
    h4 {
      margin-bottom: 16px;
    }
    p {
      @include subtitle-2;
      display: inline;
      margin-left: 8px;
    }

    hr {
      margin-top: 8px;
    }
  }

  .critical {
    color: $red;
  }

  .warning {
    color: $orange;
  }

  hr {
    border-bottom: 1px solid $surface-03;
  }

  .time-ago {
    color: rgba(44, 62, 80, 0.38);
    font-size: 14.5px;
    letter-spacing: 0.15px;
    line-height: 24px;
    text-align: right;
  }

  .notification {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 25px;
    top: 50px;

    &.muted {
      background-image: url('/assets/images/notification-dark-icon.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
    }
  }

  .icon {
    width: $icon-size;
    height: $icon-size;
    display: inline-block;
    background: transparent center center no-repeat;
    background-size: 100% 100%;

    &.temp-range {
      background-image: url('/assets/images/waves-icon.svg');
    }

    &.monitors {
      background-image: url('/assets/images/monitors-icon.svg');
    }

    &.type {
      background-image: url('/assets/images/dashboard.svg');
      height: 20px;
    }
  }

  &--items {
    @include body-1;
    display: flex;
    flex-direction: column;
    width: 100%;

    > div {
      align-content: baseline;
      display: inline-flex;
      justify-content: space-between;
      margin-bottom: 8px;

      p,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        &:last-child {
          align-self: flex-end;
        }
      }

      span {
        margin-right: 8px;
      }
    }

    //for 5s
    @media screen and (max-width: 374px) {
      font-size: 12px;
    }
  }

  h3 {
    color: rgba(44, 62, 80, 0.38);
    font-size: 13px;
    letter-spacing: 0.1px;
    line-height: 16px;
  }

  .timeline {
    li {
      padding: 16px 0;
      border-bottom: 1px solid #e9eaec;
    }

    /* Purpose: style timeline list symbols */
    & {
      padding-left: 45px;
      list-style: none;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background-color: rgba(44, 62, 80, 0.38);
        width: 1px;
        height: 100%;
        left: 24px;
      }

      li {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 7px;
          height: 7px;
          border: 1px solid #0094d0;
          border-radius: 100%;
          left: -25px;
          top: 18px;
          background-color: $surface-01;
        }

        &:first-child:after {
          position: absolute;
          content: '';
          width: 45px;
          left: -45px;
          top: 0;
          height: 18px;
          background-color: $surface-01;
        }

        &:last-child:after {
          position: absolute;
          content: '';
          width: 45px;
          left: -45px;
          bottom: 0;
          top: 27px;
          background-color: $surface-01;
        }
      }
    }

    h4 {
      color: #2c3e50;
      font-size: 14.25px;
      letter-spacing: 0.15px;
      line-height: 24px;
      margin: 0;
    }

    span {
      display: block;
      color: rgba(44, 62, 80, 0.6);
      font-size: 10.75px;
      letter-spacing: 0.4px;
      line-height: 16px;
    }

    p {
      color: #2c3e50;
      font-size: 12.6px;
      letter-spacing: 0.25px;
      line-height: 20px;
      padding-top: 7px;
    }

    button {
      color: #fff;
      border-radius: 4px;
      background-color: #eb1616;
      font-size: 10.3px;
      letter-spacing: 0.5px;
      line-height: 16px;
      padding: 3px 7px;
      height: auto;
      margin: 2px;
      margin-top: 6px;

      &.inactive {
        background-color: rgba(44, 62, 80, 0.38);
      }
    }
  }
}
