<ion-content *ngIf="zone" class="zone-detail ">
  <div class=" main">
    <header class="zone-detail--header">
      <h4>{{ zone.name }}</h4>
      <stm-concentric-circle [zoneDetail]="'zoneDetailCircle'" [status]="zone.status"></stm-concentric-circle>
      <p>{{ status }}</p>
      <hr />
    </header>

    <div class="row">
      <div class="zone-detail--items">
        <div>
          <div>
            <span class="icon temp-range"></span>
            <p>Recommended range</p>
          </div>
          <p>{{ zone.minWarningTemperature }}&deg;F to {{ zone.maxWarningTemperature }}&deg;F</p>
        </div>
        <div>
          <div>
            <span class="icon monitors"></span>
            <p>Monitors</p>
          </div>

          <p dynacontent>{{ zone.numMonitors }}</p>
        </div>
        <div>
          <div>
            <span class="icon type"></span>
            <p>Type</p>
          </div>

          <p dynacontent>{{ zone.type }}</p>
        </div>
      </div>
    </div>

    <!-- <div>
      <h3>Today</h3>
      <hr />
      <stm-graph [datasets]="dataSets"></stm-graph>

      <h3>Recent activity</h3>
      <hr />
      <ul class="timeline">
        <li *ngFor="let record of activity">
          <h4>{{ record.what }}</h4>
          <span>{{ record.when }}</span>
          <p *ngIf="record.details">{{ record.details }}</p>
          <button
            *ngIf="record.actionNeeded === true || record.actionNeeded === false"
            [ngClass]="{ inactive: record.actionNeeded === false }"
          >
            Action Needed
          </button>
        </li>
      </ul>
    </div> -->
    <!-- </div>  -->
  </div>
</ion-content>
