<div class="zone-tile bg-status-{{ zone.status }}">
  <stm-concentric-circle class="operation-status-icon" [status]="zone.status"> </stm-concentric-circle>
  <h6 class="zone-tile--name" dynacontent>{{ zone.name }}</h6>
  <p class="zone-tile--status">{{ status }}</p>
  <p class="zone-tile--monitors" dynacontent>{{ numberOfMonitors }}</p>
</div>
