@import '~assets/scss/variables.scss';

:host {
  background: $white;
  flex-basis: 0;
  flex: 1 1 0;
  min-width: calc(50% - 16px);
  max-width: calc(50% - 16px);
  height: 188px;
  position: relative;
  margin: 8px;
  padding: 16px;
  border-radius: 3px;

  &.bg-Inactive {
    background: $surface-02;
  }

  .zone-tile {
    color: $grey-secondary;

    &--name {
      padding: 24px 0 2px;
      color: $grey-primary;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--status {
      @include subtitle-2;
    }

    &--monitors {
      @include caption;
      position: absolute;
      bottom: 8px;
    }
  }
}
