@import '~assets/scss/variables.scss';

hr {
  margin: 25px 0 0;
}

hr.underline {
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.slider {
  margin-right: 5px;
  width: 80%;
}

.small {
  color: $grey-secondary;
  padding-left: 16px;
  display: block;
}

.scan-wrapper {
  padding: 0;
  span {
    color: $white;
    font-size: 16px;
    position: relative;
    top: -32px;
    text-align: center;
    display: block;
  }
}
button.scan {
  height: 256px;
  background-image: url('/assets/images/camera.svg');
  background-repeat: no-repeat;
  background-position: center calc(50% - 48px);
  background-size: 64px auto;
}

.icon-input-container {
  position: relative;
}

ion-icon {
  color: $white;
  background-color: $green;
  border-radius: 100%;

  position: absolute;
  top: 7px;
  right: 2px;
}
