<ion-content>
  <div class="main bg-blue-light">
    <div class="scan-wrapper bg-blue-light">
      <button class="full-width bg-blue-light scan" (click)="scan()"></button>
      <span>Tap here to scan with camera.</span>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="main no-nav">
    <div>
      <label class="icon-input-container">
        <input
          id="scan"
          class="full-width"
          [ngClass]="{ error: duplicateSerial }"
          placeholder="Scan {{ this.deviceType | titlecase }}"
          (input)="stringInput($event)"
          [value]="deviceSerialNumber"
          maxlength="10"
        />
        <span class="small">
          <span *ngIf="duplicateSerial">This serial number is already in use. Please scan another device.</span>
          <span *ngIf="!duplicateSerial"
            >If scanning is not working properly select the input field above to type the serial number.</span
          >
        </span>
      </label>
    </div>
    <div class="bottom-section">
      <button class="text full-width centered">Contact Customer Support</button>
      <button
        class="full-width bg-blue-light"
        [class.disabled]="!isOkToContinue()"
        [disabled]="!isOkToContinue()"
        (click)="submitMonitorCode()"
      >
        Continue
      </button>
    </div>
  </div>
</ion-footer>
