@import '~assets/scss/variables.scss';

.open-tasks {
  background: $white;
  position: relative;
  padding: 20px 16px 20px 72px !important;
  border-bottom: 1px solid $surface-03;
  background-image: url('/assets/images/open-tasks.svg');
  background-repeat: no-repeat;
  background-position: 20px 20px;
  h2 {
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
  }
  h3 {
    color: $grey-primary;
    font-size: 14px;
    margin: 0;
  }
  .close {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    &:after {
      content: '+';
      color: $grey-secondary;
      font-size: 50px;
      font-weight: 300;
    }
  }
}

.tiles {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 8px -8px 0;

  // .notification {
  //   position: absolute;
  //   bottom: 16px;
  //   right: 8px;
  //   width: 24px;
  //   height: 24px;
  //   &.muted {
  //     background-image: url('/assets/images/notification.svg');
  //     background-repeat: no-repeat !important;
  //     background-position: center center !important;
  //     background-size: 100% 100% !important;
  //   }
  // }
}
