<ion-content>
  <div class="main">
    <div class="top-section">
      <h3>Create Profile</h3>
      <p>Your user profile will be linked to this store account</p>
    </div>

    <form class="form" #createForm="ngForm">
      <div class="small-spacing">
        <!-- <label for="firstName">First Name</label> -->
        <input
          id="firstName"
          name="firstName"
          class="full-width"
          [(ngModel)]="firstName"
          placeholder="First Name"
          required
        />
      </div>
      <div class="small-spacing">
        <!-- <label for="lastName">Last Name</label> -->
        <input
          id="lastName"
          name="lastName"
          class="full-width"
          [(ngModel)]="lastName"
          placeholder="Last Name"
          required
        />
      </div>
      <div class="small-spacing">
        <!-- <label for="jobTitle">Job Title</label> -->
        <input
          id="jobTitle"
          name="jobTitle"
          class="full-width"
          [(ngModel)]="jobTitle"
          placeholder="Job Title"
          required
        />
      </div>
      <div class="small-spacing">
        <!-- <label for="phone">Phone Number (optional)</label> -->
        <input
          id="phone"
          name="phone"
          class="full-width"
          [(ngModel)]="phone"
          placeholder="Phone Number (optional)"
          pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"
          type="tel"
        />
      </div>
    </form>
  </div>
</ion-content>

<ion-footer>
  <div class="main">
    <div class="bottom-section">
      <button class="full-width centered text" (click)="createProfile()">Accept and Continue</button>
    </div>
  </div>
</ion-footer>
