// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~assets/scss/fonts.scss';
@import '~assets/scss/variables.scss';

* {
  font-family: 'Oxygen', 'Helvetica', 'Arial', sans-serif, serif;
}

body {
  background: $surface-01;
  color: $grey-primary;
  padding-top: constant(safe-area-inset-top); //for iOS 11.2
  padding-top: env(safe-area-inset-top); //for iOS 11.1
}

ion-app {
  background: $surface-01;
}

ion-content {
  background: $surface-01;
  --background: #{$surface-01};
  display: flex;
}

// override to match creative
// https://github.com/ionic-team/ionic/issues/9105
ion-alert {
  ion-backdrop {
    background: rgba(44, 62, 80, 0.76);
    --background: rgba(44, 62, 80, 0.76);
  }
  .alert-wrapper.sc-ion-alert-md {
    box-shadow: none;
  }
}

// override ion styles on ion-header
ion-header.header-md {
  &::after {
    background-image: none;
  }
}

//override login forgot pw loader css(has to be added to global style to work)
.loading-override {
  .loading-wrapper {
    background: none;
    box-shadow: none;
  }
}
//add more space above slider bullets
.swiper-pagination.swiper-pagination-bullets {
  bottom: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

// reset user agent/global angular styles
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

button {
  @include button;
  background-color: $blue-dark;
  border-radius: 5px;
  color: $white;
  padding: 24px;

  &:disabled {
    background-color: $surface-03;
    color: $grey-disabled-dark;
  }

  &:focus {
    outline: none;
  }

  &.btn-no-bg {
    background-color: $surface-01;
    color: $blue;
  }
}

button:disabled.text {
  background: none;
  border: none;
  opacity: 0.6;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid $surface-03;
  border-radius: 0;
  height: 56px;
  padding: 16px;
  border-radius: 0;
  color: $grey-primary;

  &:focus {
    border-color: $blue;
    outline: none;
  }

  &::placeholder {
    color: $grey-secondary;
    letter-spacing: normal;
  }

  &[type='password'] {
    letter-spacing: 4px;
  }
}

hr {
  margin-top: 30px;
  border-bottom: 1px solid #000;
}

.logo {
  width: 191px;
  height: auto;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.small {
  @include caption;
  padding: 6px 16px;
  display: block;
  color: $grey-secondary;
}

.spacing {
  margin: 32px 0;
}

.small-spacing {
  margin: 16px 0;
}

.form {
  text-align: left;
  width: 100%;
}

.main {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 100px;

  &.no-nav {
    padding-top: 0px;
  }
  &.no-content {
    :before {
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 48px);
      border-bottom: 1px solid $surface-03;
      top: 96px;
      left: 24px;
    }
  }
  &.top-nav {
    padding-top: 24px;
  }
}
// for about, faq, contact us, etc..
.menu-page {
  margin-top: 16px;
}
.bottom-section {
  padding: 16px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;

  & label {
    font-size: 12px;
    font-weight: 700;
  }
}

.full-width {
  width: 100%;
}

.centered {
  text-align: center;
}
.v-centered {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.bottom {
  margin-top: auto;
}

.placeholder-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 32px 0;
  opacity: 0.55;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><rect xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="100%" height="100%" style="fill:%23ffffff;stroke:%23999999;stroke-width:3"/><line xmlns="http://www.w3.org/2000/svg" x1="0" x2="100%" y1="0" y2="100%" stroke="%23999999" stroke-width="2" stroke-linecap="butt"/><line xmlns="http://www.w3.org/2000/svg" x1="0" x2="100%" y1="100%" y2="0" stroke="%23999999" stroke-width="2" stroke-linecap="butt"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  &:after {
    content: 'Placeholder';
    background: $white;
    color: $grey-secondary;
    padding: 16px;
    font-size: 20px;
  }
}

.bg-blue-light,
.bg-blue-dark {
  background: $blue;
  --background: #{$blue};
  color: $white;
  ion-list,
  ion-item,
  > div {
    background: transparent;
    --background: transparent;
    color: $white;
    --color: #{$white};
  }
}

.bg-blue-dark {
  background: $blue-dark !important;
  --background: #{$blue-dark} !important;
  color: $white;
}

.bg-green {
  background: $green;
  color: $white;
  button,
  a {
    color: $white;
    background: none;
  }
}

.text-left {
  text-align: left;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: $white;
}

ion-footer .main:not(.bg-green, .bg-blue-light, .bg-blue-dark):before {
  content: none;
  display: block;
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 16px;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
}

ion-footer {
  &:before {
    display: none;
  }
}

[nav-view-transition][nav-view-direction] {
  background-color: transparent;
}

[dynacontent]:empty {
  &:after {
    padding: 2px 4px;
    border: 1px dashed $surface-03;
    content: 'no data';
    font-style: italic;
    font-size: 12px;
    color: $surface-03;
    letter-spacing: normal;
    font-weight: 300;
  }
}

.alert-wrapper {
  background: $blue-dark;
  --background: #{$blue-dark};
  h2 {
    text-align: center;
  }
  h2,
  input,
  button span {
    color: $white;
    text-transform: none;
  }
  input {
    text-transform: none;
  }
  .alert-title {
    @include h6;
    color: $white;
  }

  .alert-button-group.sc-ion-alert-md {
    padding: 0;
    margin-top: 32px;

    .alert-button.sc-ion-alert-md {
      @include button;
      margin-right: 24px;
    }
  }

  .alert-input-group.sc-ion-alert-md {
    padding: 8px 24px;
  }
  .alert-input-wrapper {
    .alert-input {
      @include body-1;
      color: $white;
      padding: 0 16px;
      border-bottom: 2px solid $white-02;
      margin: 0;

      &::placeholder {
        color: $white-02;
      }

      &.sc-ion-alert-md {
        &:active {
          color: $white;
        }
      }
    }
  }
}

// for login alerts that subtitle font styles
.alert-body-copy {
  .alert-wrapper {
    .alert-title {
      @include subtitle-1;
      color: $white;
    }

    .alert-head.sc-ion-alert-md {
      padding: 72px 28px 20px;
      text-align: start;
    }
  }
}

.error {
  border-color: $red;
  span,
  ~ span,
  ~ label span {
    display: block;
    color: $red;
    margin-bottom: 4px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
