<ion-content>
  <div class="main">
    <ion-list>
      <!-- Frequently Asked Questions -->
      <ion-item routerLink="/help/faq">
        <div class="link-content">
          <p dynacontent>Frequently Asked Questions</p>
          <span></span>
        </div>
      </ion-item>

      <!-- Contact Us -->
      <ion-item routerLink="/help/contact-us">
        <div class="link-content">
          <p dynacontent>Contact Us</p>
          <span></span>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
