@import '~assets/scss/variables.scss';

ion-list {
  background: none;
  --background: none;
  margin-top: 24px;

  ion-item {
    --min-height: 0;
    background: none;
    --background: none;
    --padding-start: 0;
    margin-bottom: 24px;
    --border-color: #{$surface-03};
  }

  .link-content {
    color: $grey-primary;
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
    width: 100%;
  }

  p {
    margin: 0;
    @include subtitle-1;
  }

  span {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    background-image: url('/assets/images/arrow-forward.svg');
  }
}
