<ion-content>
  <div class="main">
    <div class=" centered">
      <p>
        Welcome to the secret menu. All routes of the STM app can be accessed from here, as well as some debug info.
      </p>
      <p>
        <span (click)="toggleDebug()">{{ showDebug ? 'Hide' : 'Show' }} Debug Info</span>
      </p>
      <div *ngIf="showDebug">
        <span>isSetupCompleted: {{ loginService.isSetupCompleted | json }}</span>
        <span>isEulaAccepted: {{ loginService.isEulaAccepted | json }}</span>
        <span>isPrivacyAccepted: {{ loginService.isPrivacyAccepted | json }}</span>
        <span>authToken: {{ authService.authToken | json }}</span>
        <span>refreshToken: {{ authService.refreshToken | json }}</span>
        <span>gateways: {{ gateways.length | json }}</span>
        <span>zones: {{ zones.length | json }}</span>
        <span>monitors: {{ monitors.length | json }}</span>
        <span>tasks: {{ tasks.length | json }}</span>

        refresh token: <input #refreshToken value="{{authService.refreshToken}}" />
        <button (click)="updateTokens(refreshToken.value)">get new refresh token</button>
        <button (click)="authService.setRefreshToken(refreshToken.value)">set refresh token to this</button>
        <br />
        auth token: <input #authToken value="{{authService.authToken}}" />
        <button (click)="getSites(authToken.value)">get sites using this auth token</button>
        <span>{{this.sites | json}}</span>
      </div>

      <h4>Intro</h4>
      <button class="full-width bg-blue-light" routerLink="/">Welcome</button>
      <button class="full-width bg-blue-light" routerLink="/login">Login</button>
      <button class="full-width bg-blue-light" routerLink="/terms">EULA & Privacy</button>
      <button class="full-width bg-blue-light" routerLink="/terms/privacy">EULA & Privacy - Privacy</button>
      <button class="full-width bg-blue-light" routerLink="/terms/license">EULA & Privacy - License</button>

      <h4>Installation Wizard</h4>
      <button class="full-width bg-blue-light" routerLink="/installation-wizard">Landing</button>
      <button class="full-width bg-blue-light" routerLink="/installation-wizard/gateway-setup/:deviceSerialNumber">
        Gateway Setup
      </button>
      <button class="full-width bg-blue-light" routerLink="/installation-wizard/monitor-setup">Monitor Setup</button>

      <h4>Dashboard</h4>
      <button class="full-width bg-blue-light" routerLink="/dashboard">Dashboard</button>

      <h4>Tasks</h4>
      <button class="full-width bg-blue-light" routerLink="/tasks">Tasks</button>
      <button class="full-width bg-blue-light" routerLink="/tasks/corrective-action/{{ testTask?.id }}">
        Corrective Action (id={{ testTask?.id }})
      </button>
      <button class="full-width bg-blue-light" routerLink="/tasks/task-detail/{{ testTask?.id }}">
        Task Detail (id={{ testTask?.id }})
      </button>
      <button class="full-width bg-blue-light" routerLink="/tasks/success-screen/{{ testTask?.id }}">
        Success Screen (id={{ testTask?.id }})
      </button>

      <h4>Zones</h4>
      <button class="full-width bg-blue-light" routerLink="/zones/zone-detail/{{ testZone?.id }}">
        Zone Detail (id={{ testZone?.id }})
      </button>
      <button class="full-width bg-blue-light" routerLink="/zones/zone-config/{{ testZone?.id }}">
        Zone Config (id={{ testZone?.id }})
      </button>

      <h4>Settings</h4>
      <button class="full-width bg-blue-light" routerLink="/settings">Settings</button>
      <button class="full-width bg-blue-light" routerLink="/settings/my-profile/">My Profile</button>
      <button class="full-width bg-blue-light" routerLink="/settings/notification-management/">
        Notification Management
      </button>
      <button class="full-width bg-blue-light" routerLink="/settings/system-logs/">System Logs</button>

      <h4>Help</h4>
      <button class="full-width bg-blue-light" routerLink="/help">Help</button>
      <button class="full-width bg-blue-light" routerLink="/help/faq">FAQ</button>
      <button class="full-width bg-blue-light" routerLink="/help/contact-us">Contact</button>
    </div>
  </div>
</ion-content>
