@import '~assets/scss/variables.scss';

h3 {
  margin-bottom: 32px;
}
button {
  margin-bottom: 24px;
}
h4 {
  margin: 32px 0 24px;
  padding-top: 32px;
  border-top: 2px solid $surface-03;
}
p {
  margin-bottom: 16px;
  span {
    position: relative;
    text-decoration: underline;
    color: $blue;
    background: $surface-01;
    padding: 0 16px;
    font-size: 12px;
    z-index: 10;
    // &:after {
    //   content: "?";
    //   font-size: 14px;
    //   font-weight: 600;
    //   color: $blue;
    //   position: absolute;
    //   right: -10px;
    //   top: -6px;
    // }
  }
  & + div {
    padding: 24px 16px 16px;
    border: 2px dashed $blue;
    text-align: left;
    margin-top: -28px;
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      &:focus,
      &:active {
        white-space: normal;
      }
    }
  }
}
