@import '~assets/scss/variables.scss';

.stm-graph {
  font-size: 11.96px;
  font-family: 'Libre Franklin';
}

/* Purpose: force the chart to always be certain height */
.stm-graph-container {
  height: 262px;
}

.stm-graph-note {
  margin-top: 2em;

  /* Purpose: hide the element completely if there's no content between
              chart and legend */
  &:empty {
    display: none;
  }
}

.stm-graph-legend {
  > div {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  a {
    margin-right: 2em;

    &.hidden {
      opacity: 0.5;
    }
  }

  h4 {
    display: block;
    color: $grey-primary;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    background-color: $surface-01;
    border-radius: 4px;
    padding: 4px 6px;
    text-align: center;
    white-space: nowrap;
  }

  span {
    font-size: 23.92px;
    font-weight: 500;
    line-height: 29px;

    /* Purpose: assign colors to legend labels using color names */
    color: $green;
    &.orange {
      color: $orange;
    }
    &.red {
      color: $red;
    }
  }
}
