<div class="stm-graph">
  <section class="stm-graph-container"> <canvas></canvas></section>
  <section class="stm-graph-note"><ng-content></ng-content></section>
  <section class="stm-graph-legend">
    <div>
      <a
        *ngFor="let dataset of datasets, index as i"
        (click)="toggleDataset($event, i)"
      >
        <h4 dynacontent>{{dataset.name}}</h4>
        <span [class]="dataset.legend.colorName" dynacontent>{{dataset.legend.label}}</span>
      </a>
    </div>
  </section>
</div>
