<ion-content>
  <div class="main">
    <div class="menu-page contact-us">
      <div class="contact">
        <p class="contact--title">Address</p>
        <p class="contact--info">
          Sensitech Inc. - Corporate Headquarters<br />
          800 Cummings Center, Suite 258X<br />
          Beverly, MA 01915-6197
        </p>
      </div>

      <div class="contact">
        <p class="contact--title">Phone & Website</p>
        <p class="contact--info">
          Tel: 1-800-843-8367
          <a href="http://www.sensitech.com" target="_blank">www.sensitech.com</a>
        </p>
      </div>

      <div class="contact">
        <p class="contact--title">Tech Support</p>
        <p class="contact--info">
          <a href="mailto:support@sensitech.com" target="_blank">support@sensitech.com</a>
          <a href="http://www.sensitech.com/en/support/" target="_blank">www.sensitech.com/en/support</a>
        </p>
      </div>
      <br />
    </div>
  </div>
</ion-content>
