@import '~assets/scss/variables.scss';

.contact {
  margin-bottom: 24px;

  &:nth-of-type(n + 1) {
    a {
      padding-top: 4px;
    }
  }

  &--title {
    @include overline;
    border-bottom: 1px solid $surface-03;
    color: $grey-secondary;
    margin-bottom: 16px;
    padding-bottom: 8px;
    text-transform: uppercase;
  }
  &--info {
    @include body-2;
    padding-left: 16px;

    a {
      display: block;
    }
  }
}
