@import '~assets/scss/variables.scss';

:host {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 8px -8px 0;
  padding-bottom: 40px;
  padding-top: 52px;

  .no-zones {
    color: $grey-secondary;
    font-size: 12px;
    line-height: 1.25;
    padding-top: 45%;
    margin: 0 auto;
    text-align: center;
  }
}
