<stm-zone-tile
  *ngFor="let zone of zones"
  [routerLink]="'/zone-detail/' + zone.id"
  [zone]="zone"
  class="bg-{{ zone.status }}"
></stm-zone-tile>

<div *ngIf="showNoZonesCopy && !((loaderService.isLoading | async) === true)" class="no-zones">
  No Zones available.<br />Please contact your System Administrator for assistance.
</div>
