<ion-content>
  <div class="main">
    <div class="middle-section">
      <ion-list>
        <!-- Change password -->
        <ion-item routerLink="/settings/change-password">
          <div class="link-content">
            <p dynacontent>Change Password</p>
            <span></span>
          </div>
        </ion-item>

        <!-- My Profile -->
        <!-- <ion-item routerLink="/settings/my-profile">
          <div>
            <h5 dynacontent>My Profile</h5>
            <p dynacontent>{{ firstName }} {{ lastName }}</p>
          </div>
        </ion-item> -->

        <!-- Notification Management -->
        <!-- <ion-item routerLink="/settings/notification-management">
          <div>
            <h5 dynacontent>Notification Management</h5>
          </div>
        </ion-item> -->

        <!-- System Logs -->
        <!-- <ion-item routerLink="/settings/system-logs">
          <div>
            <h5 dynacontent>System Logs</h5>
          </div>
        </ion-item> -->
      </ion-list>
    </div>
  </div>
</ion-content>
